/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */
@font-face {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url("https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8fk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: #6d2a87;
  background-color: #fff; /*#3e253c*/
  overflow-x: hidden;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.lol {
  display: block;
  position: relative;
  top: 50%;
  z-index: 1001;
}

.loaded .lol {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#loader::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #519bc3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #844c9a;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.load-circle {
  border-radius: 50%;
  background-color: #6d2a87;
  position: absolute;
}

/* #844c9a */
/* #519bc3 */
/* #51c37f */
/* orange: #f36f57 */
/* golden: #b79c42 */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #eceff1;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

/* ++ Angular Hero Animations ++ */
.hero-transition.hero-leave {
    visibility: hidden;
}

.hero-transition.ng-leave {
    visibility: visible;
}

.hero-animating {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
    position: absolute;
    z-index: 10000;
}

/* angled box styles */
.intro-header {
  
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  clear: both;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

/*@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/hero-area.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

OLD: #30094a
*/

.lux-text { font-family: 'Poiret One', cursive; }
.lux-purple { color: #43285f !important; }
.lux-purple-bkg { background-color: #43285f !important; }
.lux-indigo { color: #171c80 !important; }
.lux-pale-purple { color: #333457 !important; }
.lux-cyan { color: #2cb0cf !important; }
.lux-gold { color: #b79c42 !important; }
.bold { font-weight: bold; }

.purple-luxore {
  background-color: #6d2a87 !important;
}

.pale-luxore {
  background-color: #82778c !important;
}

.pale-text {
  color: #82778c !important;
}

.btn-luxore {
  display: inline-block;
  color: #f3f2f3;
  position: relative;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #82778c;
  border-radius: 100%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  padding-right: 3px;
  padding-top: 3px;
}

.btn-luxore:hover {
  background-color: #82778c;
}

.btn-luxore:after {
  content: '';
  background-color: transparent;
  width: 37px;
  height: 37px;
  border: 2px solid #60526d;
  border-radius: 100%;
  position: absolute; /* could also be absolute */ 
  z-index: 10;
  right: 2px;
  top: 3px;
}

.btn-luxore.btn-large {
  width: 55px;
  height: 55px;
  line-height: 54px;
  font-size: 1.2rem;
}

.btn-luxore.btn-large:after {
  width: 55px;
  height: 55px;
  border: 3px solid #60526d;
  right: 2px;
  top: 3px;
}

#transparent-navbar {
  /*background-color:rgba(255,255,255,0.2) !important;*/
  background-color: #2f0a49 !important;
}

.waves-effect.waves-purple-luxore .waves-ripple {
  background-color: rgba(51, 52, 87, 0.7);
}

.section-header h1 {
  font-family: 'Poiret One', cursive;
  color: #ddd;
}

.roundbox {
  display: block;
  border: none;
  border-radius: 0 0 100% 100%; 
  width: 100%;
  height: 100px;
  margin-bottom:50px;
}

.section-white {
  background-color: white;
}

.section-grey {
  background-color: rgb(236, 240, 241);
}

.section-white .roundbox, footer .roundbox {
  background-color: rgb(236, 240, 241);
  margin-top: -20px;
}

.section-grey .roundbox {
  background-color: white;
  margin-top: -20px;
}

.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.home {
  background-color: #FFF3EA;
  background-position: center center;
  background-size: cover;
  min-height: 666px;
  padding-bottom: 180px;
  padding-top: 270px;
  text-align: center;
  background-image: url("../img/backgrounds/ana01.jpg");
}

.home .quote {
  background-color: rgba(243, 242, 243, 0.8);
  font-family: Raleway;
  min-height: 400px;
  font-size: 2.2rem;
  color: #777;
  padding: 25px 40px;
  border-radius: 8px 8px;
}

.home .quote span {
  color: #000;
  font-family: Raleway;
  font-weight: 500;
}

.home .call-to-action {

}

.home .call-to-action li.brand img {
  width: 140px;
}

.home .call-to-action li.brand {
  height: 148px;
  margin-bottom: 36px;
}

.home .call-to-action li {
  width: 300px;
  height: 75px;
  line-height: 75px;
  margin-bottom: 10px;
  border-radius: 8px 8px;
}

.home .call-to-action li a {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #f3f2f3;
  font-family: Raleway;
  font-size: 1.4rem;
  vertical-align: middle;
}

.btn-kickstarter {
  background-color: #3fab71;
}

.home .call-to-action li.btn-header {
  background-color: #f3f2f3;
  height: 55px;
  line-height: 55px;
  margin: 25px 0;
}

.home .call-to-action li.btn-header a {
  color: #000;
}

.btn-video {
  padding: 0 55px;
  border-radius: 60px;
  border: 3px solid #6d2a87;
  font: 500 27px/72px "Roboto";
  margin-bottom: 77px;
  height: 75px;
  line-height: 75px;
  display: inline-block;
  color: #6d2a87;
}

.btn-video i {
  font-size: 4rem;
  padding: 0 20px;
  float: left;
}

.btn-video span {
  padding-top: -20px;
  float: left;
}

h1.title {
    font-size: 37px;
    line-height: 34px;
    font-weight: 900;
    font-style: normal;
    font-family: "Poiret One", cursive;
    /*color: #3B3B3B;*/
    letter-spacing: 2.5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.emphasis {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

#features {
  margin-top: unset;
}

#features .row {
  margin-bottom: unset;
}

#features .row p {
  text-align: justify;
}

#features .row h1 {
  text-align: left;
}

.section-dark {
  background: #f5f5f5;
  padding: 100px 20px;
  width: 100%;
}

.section-light {
  background: #fff;
  padding: 100px 20px;
  width: 100%;
}

.features-divider {
  text-align: center;
  color: #F62D51;
  margin-bottom: 60px;
}
.features-divider i {
  font-size: 27px;
}
.features-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}
.feature-icon {
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 70px auto 0;
  background-size: 200%;
}

.feature:hover .feature-icon {
  background-position: 100% 0;
  /*-webkit-transform: scale(1.1);*/
}

.feature {
  cursor: pointer;
}

.feature-icon i {
  color: #6d2a87;
  font-size: 50px;
  line-height: 96px;
}

.feature-title {
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #82778c;
}

.feature-title .btn-luxore {
  margin-top: -10px;
}

.feature-description {
  padding-top: 10px;
  text-align: center;
  color: #6c747f;
  font-size: 1.2rem;
}

#the-app {
  /*background-image: url("http://www.amusemagazine.co.uk/wp-content/uploads/2015/09/london-fashion.jpg");
  background-position: center center;
  background-size: cover;*/
  background-color: #e1e1e1;
  padding-top: 100px;
}

#the-app .feature {
  cursor: default;
  color: #78909c;
}

#the-app .step_1:before, #the-app .step_2:before, #the-app .step_3:before {
  -webkit-transition: border-color .3s,bottom .3s;
  -ms-transition: border-color .3s,bottom .3s;
  transition: border-color .3s,bottom .3s;
  position: relative;
  top: 128px;
  left: 1%;
  margin-left: -8px;
  content: '';
  border-right: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid transparent;
  bottom: 0;
  border-bottom-color: #844c9a;
}

#the-app .step_2:before { border-bottom-color: #519bc3; }
#the-app .step_3:before { border-bottom-color: #51c37f; }

#the-app .app-feature-icon i {
  font-size: 4rem;
}

#the-app .app-feature-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

#the-app .app-feature-description {
  text-align: center;
  margin-bottom: 5px;
}

#app-mockups {

}

#app-mockups .slides li:first-child {
  background-color: #844c9a;
}

#app-mockups .slides li:nth-child(2) {
  background-color: #519bc3;
}

#app-mockups .slides li:nth-child(3) {
  background-color: #51c37f;
}

/* orange: #f36f57 */
/* golden: #b79c42 */

#app-mockups .slides p.slide-img {
  position: absolute;
  right: 0;
  top: -30%;
  width: 550px;
  height: 600px;
}

#app-mockups .slides p.slide-img img {
  background-position: top;
  border-radius: 3px 0 0;
  box-shadow: 0 10px 28px rgba(30,30,30,.5);
}

#app-mockups .caption h3 {
  color: #000;
}


#app-mockups .caption h3 {
  
}

#coin {
  padding: 20px 0 0 0;
  background-color: #82778c;
  color: #fff;
}

#coin .coin-nav {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#coin .coin-nav .navlist {
  position: relative;
  width: 100%;
  height: 70px;
  background: #2C3E50;
  text-align: center;
  z-index: 99;
}

#coin .coin-nav .nav-list .nav-item {
  height: 13px;
  width: 13px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
  display: inline-block;
  margin: 0 10px;
  margin-top: 25px;
  opacity: 0.9;
}

#coin .coin-nav .nav-list .nav-item:hover {
  cursor: pointer;
  background-color: #4183D7;
  opacity: 1;
}

.nav-colored {
  background-color: #fff;
  -webkit-transition: background-color 2s ease;
  -moz-transition: background-color 2s ease;
  -ms-transition: background-color 2s ease;
  -o-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

#coin .slides h3 {
  margin-bottom: 50px;
  font: 36px RobotoMedium,sans-serif;
}

#coin .slides h5 {
  max-width: 500px;
  text-align: justify;
}

#coin .slide-wrapper {
  position: relative;
  width: 100%;
  height: 550px;
}

#coin h1.title {
  margin-bottom: 140px;
}

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider {
  margin-bottom: -40px;
}



.slider .indicators .indicator-item.active {
  background: white;
}

.slider .indicators .indicator-item:before {
  
}

.slider .indicators .indicator-item {
  background: transparent;
  margin: 0 60px;
}

.slider .indicators {
  top: -45px;
  z-index: 1;
  /* text-align: left; */
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.one,
.nav-item.one {
  /*background-color: #4183D7;*/
  background: #7474BF;
  background: -webkit-linear-gradient(-45deg, #7474BF, #348AC7);
  background: -o-linear-gradient(-45deg, #7474BF, #348AC7);
  background: -moz-linear-gradient(-45deg, #7474BF, #348AC7);
  background: linear-gradient(-45deg, #7474BF, #348AC7);
}

.two {
  background: -webkit-linear-gradient(-45deg, #E74C3C, #348AC7);
  background: -o-linear-gradient(-45deg, #E74C3C, #348AC7);
  background: -moz-linear-gradient(-45deg, #E74C3C, #348AC7);
  background: linear-gradient(-45deg, #E74C3C, #348AC7);
}

.three {
  background: -webkit-linear-gradient(-45deg, #26A65B, #348AC7);
  background: -o-linear-gradient(-45deg, #26A65B, #348AC7);
  background: -moz-linear-gradient(-45deg, #26A65B, #348AC7);
  background: linear-gradient(-45deg, #26A65B, #348AC7);
}

.four {
  background: -webkit-linear-gradient(-45deg, #EB9532, #348AC7);
  background: -o-linear-gradient(-45deg, #EB9532, #348AC7);
  background: -moz-linear-gradient(-45deg, #EB9532, #348AC7);
  background: linear-gradient(-45deg, #EB9532, #348AC7);
}

#join {
  background-image: url("https://d2ypq1gviimup.cloudfront.net/img/events/2015_fashion_show_bg6.jpg");
  background-color: #FFF3EA;
  background-position: center center;
  background-size: cover;
  padding-bottom: 70px;
  padding-top: 70px;
  text-align: center;
}

#join p {
  text-align: center;
  font-size: 1.3rem;
}

.terms, .ethics {
}

.terms .row p, .ethics .row p {
  font-size: 1.2rem;
  text-align: justify !important;
  color: #000;
}

.terms h2, .ethics h2 {
  font-size: 2.3rem;
}

.terms h3, .ethics h3 {
  text-align: left;
  font-size: 1.6rem;
}

#social-contacts {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) inset;
  padding-top: 20px;
}

#social-contacts .social {
  display: table;
  margin: 0 auto;
}

#social-contacts .social ul {
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

#social-contacts .social ul li {
  display: inline;
}

#social-contacts .social ul li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

footer {
  font-weight: 500;
  font-style: normal;
  box-shadow: inset 0px -1px 0 0 #D1D1D1;
}

footer.page-footer {
  padding-top: 76px;
  margin-top: 0px;
  background-color: #82778c;
}

footer .brand-logo img {
  width: 200px;
}

footer, footer p.lux-text {
  font-family: "Poiret One", cursive;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}

footer ul {
  font-family: Helvetica;
  text-transform: lowercase;
  font-size: 1.1rem;
  margin-left: 40%;
}

footer ul li {
  padding-top: 10px;
}

footer ul li a {
  color: #b1b1b1;
  transition: all 0.3s linear;
}

footer ul li a:hover {
  color: #fff;
}

footer.footer-copyright {
  background-color: #D1D1D1;
}

.scrollup {
  position:fixed;
  bottom: 50px; 
  right: 35px;
}

.input-field .prefix ~ label {
  margin-left: 3rem;
  margin-top: -.7rem;
}

.input-field input[type=email] {
  margin-top: -.4rem;
  font-weight: bold;
  font-size: 18px;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=email]:focus + label {
  color: #6d2a87;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #6d2a87;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=email].valid {
 border-bottom: 1px solid #6d2a87;
 box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #6d2a87;
}

nav .button-collapse {
  color: black;
  margin-left: 15px;
}

ul.side-nav {
  margin-top: 80px;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
}

ul.side-nav li {
  line-height: 50px;
  padding: 0;
}

ul.side-nav li:hover {
  background-color: transparent;
}

.side-nav a {
  color: #888;
  line-height: 50px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s linear;
  vertical-align: middle;
  height: 56px;
}

.side-nav a:hover {
  color: #6d2a87;
}

.side-nav a i {
  font-size: 2.1rem;
  vertical-align: middle;
  float: left;
  padding-top: 0.7rem;
}

.side-nav a span {
  vertical-align: middle;
  float: left;
  margin-left: 1.4rem;
}

/* QUICK VIEW */
.qv-quick-view {
  /* quick view non available on small devices */
  display: none;
}
@media only screen and (min-width: 1024px) {
  .qv-quick-view {
    display: block;
    position: fixed;
    max-width: 900px;
    visibility: hidden;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: left, top, width;
    z-index: 1;
  }
  .qv-quick-view:after {
    content: "";
    display: table;
    clear: both;
  }
  .qv-quick-view.is-visible {
    /* class added when user clicks on .qv-trigger */
    visibility: visible;
  }
  .qv-quick-view.animate-width {
    /* class added at the end of the first zoom-in animation */
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
}

.qv-slider-wrapper {
  position: relative;
  display: inline-block;
  float: left;
}
.qv-slider-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.qv-slider {
  float: left;
}
.qv-slider li {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.qv-slider li img {
  display: block;
  width: 100%;
  max-width: 400px;
}
.qv-slider li.selected {
  position: relative;
  z-index: 3;
}
.add-content .qv-slider {
  margin-right: 3em;
}

.qv-slider-navigation {
  opacity: 0;
}
.add-content .qv-slider-navigation {
  opacity: 1;
}

.qv-slider-navigation li {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}
.qv-slider-navigation li:first-child {
  left: 0;
}
.qv-slider-navigation li:last-child {
  /* equal to the .qv-slider-wrapper margin-right */
  right: 3em;
}
.qv-slider-navigation li a {
  display: block;
  width: 40px;
  height: 50px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.2s, background 0.2s;
  -moz-transition: opacity 0.2s, background 0.2s;
  transition: opacity 0.2s, background 0.2s;
}
.qv-slider-navigation li a::before, .qv-slider-navigation li a::after {
  /* create arrows in CSS */
  position: absolute;
  top: 18px;
  left: 14px;
  display: inline-block;
  background: #ffffff;
  height: 3px;
  width: 12px;
}
.qv-slider-navigation li a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.qv-slider-navigation li a::after {
  -webkit-transform: translateY(7px) rotate(-45deg);
  -moz-transform: translateY(7px) rotate(-45deg);
  -ms-transform: translateY(7px) rotate(-45deg);
  -o-transform: translateY(7px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
}
.add-content .qv-slider-navigation li a {
  opacity: .2;
}
.no-touch .qv-slider-navigation li a:hover {
  background: rgba(71, 55, 78, 0.8);
  opacity: 1;
}
.touch .qv-slider-navigation li a {
  opacity: 1;
}
.qv-slider-navigation li:first-child a::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.qv-slider-navigation li:first-child a::after {
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

.qv-item-info {
  position: absolute;
  padding: 3em 3em 3em 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility 0s;
  -moz-transition: opacity .3s, visibility 0s;
  transition: opacity .3s, visibility 0s;
}
.qv-item-info h2 {
  font-size: 28px;
  font-size: 1.75rem;
}
.qv-item-info p {
  line-height: 1.6;
  margin: 1em 0;
  color: #67919c;
}
.qv-item-info .qv-item-action li {
  display: inline-block;
  margin-right: 1em;
}
.qv-item-info .qv-item-action li:first-child {
  margin-left: -4px;
}
.qv-item-info .add-to-cart {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0.25em;
  border: none;
  padding: .6em 1.2em;
  background-color: #f82f53;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
}
.add-content .qv-item-info {
  /* class added at the end of the width animation, used to show the content */
  position: relative;
  visibility: visible;
  opacity: 1;
}
.add-content .qv-item-info h2 {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}
.add-content .qv-item-info p {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}
.add-content .qv-item-info .qv-item-action {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    -ms-transform: translate3d(-40px, 0, 0);
    -o-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.qv-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
  transition: transform .3s 0s, visibility 0s .3s;
}
.qv-close::before, .qv-close::after {
  /* close icon in css */
  position: absolute;
  top: 12px;
  left: 5px;
  display: inline-block;
  height: 4px;
  width: 20px;
  background: #47374e;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.qv-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.qv-close::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.no-touch .qv-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.add-content .qv-close {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
  transition: transform .3s 0s, visibility 0s 0s;
}


@media screen and (min-width: 40.5em) {
  
}

@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {

}
@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {

}
@media (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {

}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .home__highlight {
    display: inline-block;
    margin-right: 30px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }

  .feature-icon {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
  }
}

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center;
  }
}

@media (min-height: 28.875em) {
  
}

@media (min-height: 35.875em) {
  
}

@media (min-height: 40.125em) {
  
}

@media (min-height: 46.75em) {
  
}

.main-content {
  /*margin-top: 230px;*/
}

.main-content .ng-enter {
  /* transition on enter for .5s */
  transition: 1.5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}

.main-content .ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}

.lux-header ul.brand,
.lux-header ul.brand li,
.lux-header nav a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.lux-header ul.brand li.brand-logo img, 
.lux-header {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.lux-header {
  position: fixed;
  width: 100%;
  height: 200px;
  z-index: 998;
  background: transparent;
  overflow: hidden;
}

.lux-header .nav-wrapper {}

.lux-header ul.brand {
  list-style: none outside none;
  height: 200px;
  line-height: 200px;
}

.lux-header ul.brand li {
  display: inline-block;
  float: left;
  padding-left: 20px;
}

.lux-header ul.brand li.brand-logo {

}

.lux-header ul.brand li.brand-logo img {
  height: 150px;
  vertical-align: middle;
}

.lux-header .brand-title {
  margin: 0;
  cursor: pointer;
  font-family: 'Poiret One', cursive;
  color: #fff;
  font-weight: 400;
  font-size: 3.4rem;
  text-transform: uppercase;
}

.lux-header nav {
  float: right;
  background-color: transparent;
  box-shadow: unset;
  margin-top: -150px;
}

.lux-header nav li {
  line-height: 75px;
}

.lux-header nav a {
  color: #f3f2f3;
  font-weight: 700;
  margin: 0 0 0 20px;
  font-size: 1.4em;
}

.lux-header nav a:hover {
  color: #333;
}

.lux-header nav a.translation-button {
  padding-right: 25px;
}

.lux-header nav a.translation-button img {
  vertical-align: middle;
}

.dropdown-content li > a, .dropdown-content li > span {
    display: block;
    padding: 14px 0;
}

.lux-header.shrink {
  height: 75px;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
  background-color: #82778c;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.lux-header.shrink nav {
  width: 70%;
  height: 75px;
  margin-top: -75px;
}

.lux-header.shrink ul.brand {
  height: 75px;
  line-height: 75px;
  margin: 0;
  margin-bottom: 0;
}

.lux-header.shrink ul.brand li {
  display: inline-block;
  height: 75px;
  padding-left: 20px;
  vertical-align: middle;
  text-align: center;
}

.lux-header ul.brand li,
.lux-header.shrink nav a {
  
}

.lux-header.shrink ul.brand li.brand-logo {
  padding-top: 7px;
}

.lux-header.shrink ul.brand li.brand-logo img {
  height: 60px;
  vertical-align: unset;
}

.lux-header.shrink .brand-title {
  font-size: 2.6rem;
}

.lux-header .brand-title:hover {
  color: #82778c;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  10% {
    display: block;
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
  
  .lux-header .lux-inner {
    width: 100%;
  }

  .lux-header h1,
  .lux-header nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  .lux-header h1,
  .lux-header nav a {
    line-height: 115px;
  }

  .lux-header nav a {
    margin: 0 10px;
  }

  .lux-header.shrink h1,
  .lux-header.shrink nav a {
    line-height: 45px;
  }

  .lux-header.shrink h1 {
    font-size: 2em;
  }

  .lux-header.shrink nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 32.25em) {
  .lux-header nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 24em) {
  .lux-header nav a,
  .lux-header.shrink nav a {
    line-height: 1;
  }
}

/*#mainHeader nav {
  box-shadow: none;
  line-height: 80px;
  height: 80px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#mainHeader nav.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}*/

.hero-landing, .features {
  background-color: white;
}

nav .button-collapse i {
  line-height: 80px;
}