/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.lol {
  display: block;
  position: relative;
  top: 50%;
  z-index: 1001;
}

.loaded .lol {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#loader::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #519bc3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #844c9a;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.load-circle {
  border-radius: 50%;
  background-color: #6d2a87;
  position: absolute;
}

/* #844c9a */
/* #519bc3 */
/* #51c37f */
/* orange: #f36f57 */
/* golden: #b79c42 */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eceff1;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eceff1;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

/* ++ Angular Hero Animations ++ */
.hero-transition.hero-leave {
    visibility: hidden;
}

.hero-transition.ng-leave {
    visibility: visible;
}

.hero-animating {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
    position: absolute;
    z-index: 10000;
}

/* angled box styles */
.intro-header {
  
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  clear: both;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.btn {
  border-radius: 8px 8px;
  background-color: #f3f2f3;
  color: #000;
  line-height: 4em;
  height: 4em;
  width: 20em;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s, width 0.3s 0s, background-color 0.3s, border-radius 0.3s;
  -moz-transition: color 0.2s, width 0.3s 0s, background-color 0.3s, border-radius 0.3s;
  transition: color 0.2s, width 0.3s 0s, background-color 0.3s, border-radius 0.3s;
}

.btn:hover {
  color: #82778c;
  background-color: #f3f2f3;
}

.btn.to-circle {
  width: 4em;
  border-radius: 8em;
  color: transparent;
  -webkit-transition: color 0.2s, width 0.3s 0.2s, background-color 0.3s, border-radius 0.3s;
  -moz-transition: color 0.2s, width 0.3s 0.2s, background-color 0.3s, border-radius 0.3s;
  transition: color 0.2s, width 0.3s 0.2s, background-color 0.3s, border-radius 0.3s;
}

.home {
  background-position: center center;
  background-size: cover;
  min-height: 666px;
  padding-bottom: 180px;
  padding-top: 270px;
  text-align: center;
  background-image: url("../img/backgrounds/ana01.jpg");
}

.home .quote {
  background-color: rgba(243, 242, 243, 0.8);
  min-height: 400px;
  font-size: 2.2rem;
  color: #777;
  padding: 25px 40px;
  border-radius: 8px 8px;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-align: center;
}

.home .quote span {
  color: #000;
  font-family: Raleway;
  font-weight: 500;
}

.home .call-to-action {

}

.home .call-to-action li.brand img {
  width: 140px;
}

.home .call-to-action li.brand {
  height: 148px;
  margin-bottom: 36px;
}

.home .call-to-action li {
  width: 300px;
  height: 75px;
  line-height: 75px;
  margin-bottom: 10px;
}

.home .call-to-action li a {
  text-align: center;
  vertical-align: middle;
}

.btn-kickstarter .btn {
  background-color: #3fab71;
  height: 75px;
  line-height: 75px; 
}

.btn-kickstarter .btn:hover {
  background-color: #f3f2f3;
  border: 2px solid #3fab71;
  color: #3fab71;
}

.home .call-to-action li.btn-header {
  height: 55px;
  line-height: 55px;
  margin: 25px 0;
}

.btn-header .btn {
  background-color: #82778C;
  color: #f3f2f3;
  transition: all 0.3s;
}

.btn-header .btn:hover {
  background-color: #f3f2f3;
  border: 2px solid #60526d;
  color: #82778C;
}

.emphasis {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

#features {
  margin-top: unset;
}

#features .row {
  margin-bottom: unset;
}

#features .row p {
  text-align: justify;
}

#features .row h1 {
  text-align: left;
}

#features .row .btn {
  margin-top: 5px;
  background-color: #82778C;
  color: #f3f2f3;
  transition: all 0.3s;
  width: unset;
}

#features .row .btn:hover {
  background-color: #f3f2f3;
  border: 2px solid #60526d;
  color: #82778C;
}

.features-divider {
  text-align: center;
  color: #F62D51;
  margin-bottom: 60px;
}
.features-divider i {
  font-size: 27px;
}
.features-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}
.feature-icon {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  margin: 70px auto 0;
  background-size: 80%;
  background-color: #82778c;
  transition: all 0.4s;
  background-position: center;
  background-repeat: no-repeat;
}

.feature:hover .feature-icon {
  background-size: 100%;
}

.feature {
  cursor: pointer;
}

.feature-icon i {
  color: #6d2a87;
  font-size: 50px;
  line-height: 96px;
}

.lux-title, .feature-title {
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #82778c;
}

.lux-title .btn-luxore, .feature-title .btn-luxore {
  margin-top: -10px;
}

.feature-description {
  padding-top: 10px;
  text-align: center;
  color: #6c747f;
  font-size: 1.2rem;
}

#coin {
  padding: 60px 0 0 0;
}

#coin .coin-nav {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#coin .coin-nav .navlist {
  position: relative;
  width: 100%;
  height: 70px;
  background: #2C3E50;
  text-align: center;
  z-index: 99;
}

#coin .coin-nav .nav-list .nav-item {
  height: 13px;
  width: 13px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
  display: inline-block;
  margin: 0 10px;
  margin-top: 25px;
  opacity: 0.9;
}

#coin .coin-nav .nav-list .nav-item:hover {
  cursor: pointer;
  background-color: #4183D7;
  opacity: 1;
}

.nav-colored {
  background-color: #fff;
  -webkit-transition: background-color 2s ease;
  -moz-transition: background-color 2s ease;
  -ms-transition: background-color 2s ease;
  -o-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

#coin .slides h3 {
  margin-bottom: 50px;
  font: 36px RobotoMedium,sans-serif;
}

#coin .slides h5 {
  max-width: 500px;
  text-align: justify;
}

#coin .slide-wrapper {
  position: relative;
  width: 100%;
  height: 550px;
}

#coin h1.title {
  margin-bottom: 140px;
}

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider {
  height: 600px !important;
}

.slider .indicators .indicator-item.active {
  background: white;
}

.slider .indicators .indicator-item:before {
  
}

.slider .indicators .indicator-item {
  background: transparent;
  margin: 0 60px;
}

.slider .indicators {
  top: -45px;
  z-index: 1;
  /* text-align: left; */
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

#coin .slides li {
  background: -webkit-linear-gradient(0deg, #635471, #82778c);
  background: -o-linear-gradient(0deg, #635471, #82778c);
  background: -moz-linear-gradient(0deg, #635471, #82778c);
  background: linear-gradient(0deg, #635471, #82778c);
}

.slider .slides li .caption {
    width: 100%;
}

.step_description {
    width: 50%;
    padding: 0 100px 8px 0;
    color: #fff;
}

.slides .step_image {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 50%;
  padding-left: 10px;
}

.one img, .two img, .three img, .four img {
  max-width: 80%;
}

.two {
  
}

.three {
  
}

.four {
  
}

/* -------------------------------- 

Slider

-------------------------------- */
.cd-slider-wrapper {
  position: relative;
  /*height: 60vh;*/
  height: 600px;
}
@media only screen and (min-width: 900px) {
  .cd-slider-wrapper {
    
  }
}

.cd-slider {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
.cd-slider li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}
.cd-slider li.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-slider .cd-half-block {
  height: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}
.cd-slider li:first-of-type .image {
  background: #e5e5e5 url(../img/features/coin-02.png);
  background-size: 100%;
  background-position: 0 0;
}
.cd-slider li:nth-of-type(2) .image {
  background: #e5e5e5 url(../img/features/coin-04.png);
  background-size: 100%;
  background-position: 0 0;
}
.cd-slider li:nth-of-type(3) .image {
  background: #e5e5e5 url(../img/features/coin-01.png);
  background-size: 100%;
  background-position: 0 0;
}
.cd-slider li:nth-of-type(4) .image {
  background: #e5e5e5 url(../img/features/coin-03.png);
  background-size: 100%;
  background-position: 0 0;
}

.cd-slider .content {
  padding: 30px;
  color: #ffffff;
  background-color: #5f4d70;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-slider .light-bg {
  color: rgba(0, 0, 0, 0.6);
}
.cd-slider .btn {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  padding: 1em 1.6em;
  margin-top: 1em;
  font-size: 1.3rem;
  color: #ffffff;
  border-radius: 50em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.no-touch .cd-slider .btn:hover {
  background: rgba(0, 0, 0, 0.6);
}
.cd-slider li:nth-of-type(2) .content {
  background-color: #5f4d70;
}
.cd-slider li:nth-of-type(3) .content {
  background-color: #5f4d70;
}
.cd-slider li:nth-of-type(4) .content {
  background-color: #5f4d70;
}
.cd-slider h2 {
  font-size: 2.2rem;
  margin-bottom: .4em;
}
.cd-slider p {
  font-size: 1.4rem;
}
.cd-slider h2, .cd-slider p {
  line-height: 1.4;
}
@media only screen and (min-width: 900px) {
  .cd-slider li {
    pointer-events: none;
    z-index: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: z-index 0s 0.6s;
    -moz-transition: z-index 0s 0.6s;
    transition: z-index 0s 0.6s;
  }
  .cd-slider li.is-visible {
    pointer-events: auto;
    z-index: 3;
    -webkit-transition: z-index 0s 0s;
    -moz-transition: z-index 0s 0s;
    transition: z-index 0s 0s;
  }
  .cd-slider li.is-visible.covered {
    /* list item still there, but covered by the list item entering the viewport (.is-visible) */
    z-index: 2;
  }
  .cd-slider .cd-half-block {
    height: 100%;
    width: 50%;
    float: right;
  }
  .cd-slider .cd-half-block.content {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
    -moz-transition: -moz-transform 0.6s 0s ease-in-out;
    transition: transform 0.6s 0s ease-in-out;
  }
  .cd-slider .cd-half-block.image {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0s 0.3s;
    -moz-transition: -moz-transform 0s 0.3s;
    transition: transform 0s 0.3s;
  }
  .cd-slider li.is-visible .cd-half-block.content,
  .cd-slider li.is-visible .cd-half-block.image {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  .cd-slider li.is-visible .cd-half-block.content {
    -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
    -moz-transition: -moz-transform 0.6s 0s ease-in-out;
    transition: transform 0.6s 0s ease-in-out;
  }
  .cd-slider .content {
    /* vertically align its content */
    display: table;
    padding: 0 40px;
  }
  .cd-slider .content > div {
    /* vertically align <div> inside div.content */
    display: table-cell;
    vertical-align: middle;
  }
  .cd-slider .btn {
    padding: 1.4em 2em;
    font-size: 1.4rem;
  }
  .cd-slider p {
    font-size: 1.6rem;
  }
  .cd-slider h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  .cd-slider h2, .cd-slider p {
    line-height: 2;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-slider .content {
    padding: 0 90px;
  }
  .cd-slider h2 {
    font-weight: 300;
  }
}

/* -------------------------------- 

Slider Navigation

-------------------------------- */
.cd-slider-navigation {
  /* you won't see this element in the html but it will be created using jQuery */
  position: absolute;
  z-index: 3;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -130px;
}

.cd-slider-navigation li {
  display: inline-block;
  margin: 0 .25em;
}

.cd-slider-navigation li a {
  width: 55px;
  height: 55px;
  line-height: 54px;
  font-size: 1.2rem;
}

.cd-slider-navigation li a:after {
  width: 55px;
  height: 55px;
  border: 3px solid #60526d;
}

.cd-slider-navigation li.selected a {
  color: #60526d;
  background-color: #f3f2f3;
}

.cd-slider-navigation li.selected a:after {
  border: 3px solid #82778c;
}

@media only screen and (min-width: 900px) {
  .cd-slider-navigation {
    padding: 0.5em 1em;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
    -webkit-transform: translateZ(2px) translateX(-50%);
    -moz-transform: translateZ(2px) translateX(-50%);
    -ms-transform: translateZ(2px) translateX(-50%);
    -o-transform: translateZ(2px) translateX(-50%);
    transform: translateZ(2px) translateX(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-slider-navigation.slider-animating {
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

/* -------------------------------- 

Modal

-------------------------------- */

.card-bitcoin {
  max-width: 600px;
  margin: 0 auto;
}

.card-bitcoin p {
  font-size: 1em;
  line-height: 2;
  text-align: left;
}

.card-bitcoin .btcdonate {

}

.card-bitcoin .btcdonate a {
  color: #000;
  font-size: 0.8em;
}

.btf-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 550px;
  min-width: 330px;
  height: auto;
  z-index: 2000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-modal-section {
  padding: 0 !important;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cd-modal-section {
    padding: 4em 10%;
  }
  .cd-modal-section p {
    font-size: 1.8rem;
    line-height: 2;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-modal-section {
    padding: 4em 20%;
  }
}

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s;
}
.cd-modal::after {
  /* gradient overlay at bottom of modal window */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
  background: transparent;
  background: -webkit-linear-gradient( bottom , #34383c, rgba(52, 56, 60, 0));
  background: linear-gradient(to top, #34383c, rgba(52, 56, 60, 0));
}
.cd-modal .cd-modal-content {
  height: 100%;
  width: 100%;
  padding: 3em 5%;
  text-align: left;
  overflow-y: auto;
  z-index: 998;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-is-visible .cd-modal {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: visibility 0s 0s, opacity 0.3s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s;
}
@media only screen and (min-width: 768px) {
  .cd-modal .cd-modal-content {
    padding: 4em 10%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-modal .cd-modal-content {
    padding: 6em 20%;
  }
}

.cd-modal-action {
  position: relative;
}
.cd-modal-action .cd-modal-bg {
  display: inline-block;
  height: 4em;
  background-color: rgba(130,119,140,1);
}

.cd-modal-action .cd-modal-bg {
  z-index: 995;
  position: absolute;
  left: 50%;
  top: 0;
  width: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.cd-modal-action .cd-modal-bg.is-visible {
  opacity: 1;
  visibility: visible;
}

.cd-modal-close {
  position: fixed;
  z-index: 999;
  top: 20px;
  right: 5%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: transateZ(0);
  -moz-transform: transateZ(0);
  -ms-transform: transateZ(0);
  -o-transform: transateZ(0);
  transform: transateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-is-visible .cd-modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-modal-close {
    top: 70px;
  }
}
/* ~ MODAL ~ */

#roadmap {
  text-align: center;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  /*opacity: 0;
  margin: 2em auto;*/
}

/* TIMELINE */

#roadmap.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
#roadmap .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
#roadmap .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
#roadmap .events-wrapper::after, #roadmap .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
#roadmap .events-wrapper::before {
  left: 0;
}
#roadmap .events-wrapper::after {
  right: 0;
}
#roadmap .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#roadmap .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #6d2a87;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

#roadmap .events li {
  color: transparent;
}

#roadmap .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#roadmap .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch #roadmap .events a:hover::after {
  background-color: #6d2a87;
  border-color: #6d2a87;
}
#roadmap .events a.selected {
  pointer-events: none;
}
#roadmap .events a.selected::after {
  background-color: #6d2a87;
  border-color: #6d2a87;
}
#roadmap .events a.older-event::after {
  border-color: #6d2a87;
}
@media only screen and (min-width: 1100px) {
  #roadmap {
    
  }
  #roadmap::before {
    /* never visible - this is used in jQuery to check the current MQ */
  }
}

.timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  color: #82778c;
  /* replace text with an icon */
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.timeline-navigation a i {
  line-height: 31px;
}

.timeline-navigation a.prev {
  left: 0;
}
.timeline-navigation a.next {
  right: 0;
}
.timeline-navigation a:hover {
  border-color: #6d2a87;
}

.timeline-navigation a.inactive {
  cursor: not-allowed;
}
.timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

#roadmap .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
#roadmap .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
#roadmap .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
#roadmap .events-content li.enter-right, #roadmap .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
#roadmap .events-content li.enter-left, #roadmap .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
#roadmap .events-content li.leave-right, #roadmap .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
#roadmap .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
#roadmap .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
#roadmap .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
#roadmap .events-content em::before {
  content: '';
}
#roadmap .events-content p {
  font-size: 1.4rem;
  color: #959595;
}
#roadmap .events-content em, #roadmap .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  #roadmap .events-content h2 {
    font-size: 7rem;
  }
  #roadmap .events-content em {
    font-size: 2rem;
  }
  #roadmap .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

#join {
  background-image: url("https://d2ypq1gviimup.cloudfront.net/img/events/2015_fashion_show_bg6.jpg");
  background-color: #f3f2f3;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#join p {
  text-align: center;
  font-size: 1.3rem;
}

.terms, .ethics {
}

.terms .row p, .ethics .row p {
  font-size: 1.2rem;
  text-align: justify !important;
  color: #000;
}

.terms h2, .ethics h2 {
  font-size: 2.3rem;
}

.terms h3, .ethics h3 {
  text-align: left;
  font-size: 1.6rem;
}

#social-contacts {
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) inset;
  padding-top: 20px;*/
}

#social-contacts .social {
  display: table;
  margin: 0 auto;
}

#social-contacts .social ul {
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

#social-contacts .social ul li {
  display: inline;
}

#social-contacts .social ul li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

footer {
  font-weight: 500;
  font-style: normal;
  box-shadow: inset 0px -1px 0 0 #D1D1D1;
}

footer h5 {
  text-align: center;
}

footer.page-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: -20px;
  background: -webkit-linear-gradient(-45deg, #635471, #82778c);
  background: -o-linear-gradient(-45deg, #635471, #82778c);
  background: -moz-linear-gradient(-45deg, #635471, #82778c);
  background: linear-gradient(-45deg, #635471, #82778c);
}

footer .brand-logo img {
  width: 200px;
}

footer, footer p.lux-text {
  font-family: "Poiret One", cursive;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  margin:0;
  margin-top: -20px;
}

footer ul {
  font-family: Helvetica;
  text-transform: lowercase;
  font-size: 1.1rem;
  margin-left: 40%;
}

footer ul li {
  padding-top: 10px;
}

footer ul li a {
  color: #b1b1b1;
  transition: all 0.3s linear;
}

footer ul li a:hover {
  color: #fff;
}

footer.footer-copyright {
  background-color: #D1D1D1;
}

.scrollup {
  position:fixed;
  bottom: 50px; 
  right: 35px;
}

.input-field .prefix ~ label {
  margin-left: 3rem;
  margin-top: -.7rem;
}

.input-field input[type=email] {
  margin-top: -.4rem;
  font-weight: bold;
  font-size: 18px;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=email]:focus + label {
  color: #6d2a87;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #6d2a87;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=email].valid {
 border-bottom: 1px solid #6d2a87;
 box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #6d2a87;
}

nav .button-collapse {
  color: black;
  margin-left: 15px;
}

ul.side-nav {
  margin-top: 80px;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
}

ul.side-nav li {
  line-height: 50px;
  padding: 0;
}

ul.side-nav li:hover {
  background-color: transparent;
}

.side-nav a {
  color: #888;
  line-height: 50px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s linear;
  vertical-align: middle;
  height: 56px;
}

.side-nav a:hover {
  color: #6d2a87;
}

.side-nav a i {
  font-size: 2.1rem;
  vertical-align: middle;
  float: left;
  padding-top: 0.7rem;
}

.side-nav a span {
  vertical-align: middle;
  float: left;
  margin-left: 1.4rem;
}


/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }

  .feature-icon {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
  }
}

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center;
  }
}