<section class="headerless-home">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="quote" translate>
					At <span class="brand">Luxore</span>, we'd love to hear about you and what you think about all this...
				</p>
			</div>
		</div>
	</div>
</section>

<div id="contacts">
	<section class="contact-form">
		<div class="container">
			<div class="row">
				<form name="formNewsletter" class="col s12" ng-submit="sendContact(user)" ng-controller="ContactController">
					<div class="row">
						<div class="col s12 m8 l8  contact-mail">
							<div class="input-field col m12 s12">
								<i class="material-icons prefix pale-text">account_circle</i>
								<input id="name" type="text" class="validate" ng-model="user.name" required>
								<label for="name" data-error="{{'We need to call you something...'|translate}}">{{'How your friends call you?'|translate}}</label>
							</div>
							<div class="input-field col m12 s12">
								<i class="material-icons prefix pale-text">email</i>
								<input id="email" type="email" class="validate" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
								<label for="email" data-error="{{'Oops! It looks like that\'s not an email!'|translate}}">{{'Where can we email you back?'|translate}}</label>
							</div>
							<div class="input-field col m12 s12">
								<i class="material-icons prefix pale-text">subject</i>
								<input id="subject" type="text" class="validate" ng-model="user.subject" required>
								<label for="subject" data-error="{{'Please! Let us know what is it about...'|translate}}">{{'What you want to talk about?'|translate}}</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix pale-text">comment</i>
								<textarea id="message" class="materialize-textarea" ng-model="user.message"></textarea>
								<label for="message">{{'What is on your mind?'|translate}}</label>
							</div>

							<div class="input-field col s12 center">
								<input type="checkbox" id="subscribe" checked="checked" ng-model="user.subscribe">
								<label for="subscribe">{{'Subscribe to newsletter?'|translate}}</label>
							</div>

							<div class="input-field col s12 center" style="margin-top: 40px;">
								<input type="submit" class="btn" value="{{'Send my Thoughts!!'|translate}}">
							</div>
						</div>
						<div class="col s12 m3 l3 push-m1 push-l1 contact-other">
							<h5>{{'Want contact by email?'|translate}}</h5>
							<translate><a class="linx" href="mailto:whatsup@luxore.me">whatsup@luxore.me</a></translate>
							<h5>{{'Have a complain about something?'|translate}}</h5>
							<translate><a class="linx" href="mailto:dearjerksofluxorefoundation@luxore.me">dearjerksofluxorefoundation@luxore.me</a></translate>
							<h5>{{'Or use our channels in social media'|translate}}...</h5>
							<div class="row">
						      <div class="col s12 social">
						        <ul style="display:inline-block;">
						          <li>
						            <a href="https://www.facebook.com/luxoreapp/" class="btn-luxore btn-large" target="_blank">
						              <i class="zmdi zmdi-facebook"></i>
						            </a>
						          </li>
						          <li>
						            <a href="http://twitter.com/luxoreapp" class="btn-luxore btn-large" target="_blank">
						              <i class="zmdi zmdi-twitter"></i> 
						            </a>
						          </li>
						          <li>
						            <a href="http://www.instagram.com/luxoreapp/" class="btn-luxore btn-large" target="_blank">
						              <i class="zmdi zmdi-instagram"></i>
						            </a>
						          </li>
						        </ul>
						      </div>
						    </div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

</div>

<div ng-include="'views/docs/footer.html'"></div>