<section class="headerless-home">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="quote" translate>
					<span>Luxore</span> is about have things your way! Our way is to develop this for you...
				</p>
			</div>
		</div>
	</div>
</section>

<div id="team-list">
	<section class="team-member">
		<div class="container">
			<div class="row">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/team/bruno.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Bruno</h1>
					<p>
						
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="team-member grey">
		<div class="container">
			<div class="row">
				<div class="col l7 m8 s12">
					<h1 class="title">Loris</h1>
					<p>
						
					</p>
				</div>
				<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/team/loris.png');"></div>
				</div>
			</div>
		</div>
	</section>

</div>

<div ng-include="'footer.html'"></div>