<section class="headerless-home">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="quote" translate>
					<span>Luxore</span> is a new kind of social network where you make your looks, share them, become a reference and inspire your followers.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="ethics">
	<div class="row">
		<div class="col s2 m2 l2 push-s1 hide-on-med-and-down">
			&nbsp;
			<div class="toc-wrapper" style="top: 0px;">
				<ul class="section table-of-contents">
					<li><a class="active" href="#general" translate>General</a></li>
					<li><a href="#dos" translate>DOs</a></li>
					<li><a href="#donts" translate>DON'Ts</a></li>
				</ul>
			</div>
		</div>

		<div class="col s12 m8 l6 push-l1">
			<h2 id="title">
			    <translate>Physical Removal Services,</translate> <br> <translate>Or Ethical Guidelines for using Luxore</translate>
			</h2>

			<div id="general" class="section scrollspy">
				<div class="faq-title"><h3 translate>General</h3></div>
				<p translate>
					Project Luxore, the Luxore website and the Luxore app ("Luxore", the "Site", the "App", "we" or "us") use cutting edge digital technologies to create a space with freedom for people to share and be creative! The software is free and open-source, the network is decentralized and distributed. We see Luxore as a tool for fashion workers and enthusiasts - but we are not in the business of fashion. Luxore exists to showcase and facilitate the connections and monetization of people otherwise not known in industry.
				</p>
				<p translate>
					We had our share of concern about theming a social network and how to make sure Luxore doesn't become an evil robot (not robot, just evil). Well, besides the use of decetralization, we made lots of types of rewards and incentives so it can be always focused on fashion. As we cannot ban, remove, or spank anyone, we gave you the powerful and efficient Physical Removal service, a.k.a block. You can also delete all the comments you don't like - but wait, there is more: When other people are beeing lower than a snake's belly or a real Retard McTardypants you have 3 options: (1) Start a dance fight/contest - not recommended, though. (2) LALALALALALA CAN’T HEAR. And (3), our favoritte, flag the comment as poisonous, toxic waste. Next comments of the flagged individuals will stink until they make amends.
				</p>
				<p translate>
					That said, we also suggest a few things...
				</p>
			</div>

			<div id="dos" class="section scrollspy">
				<div class="faq-title"><h3 translate>DOs</h3></div>
				<ul>
					<li>
					    <b translate>RESPECT IP RIGHTS.</b> <translate>Ha ha, just kidding... There is no such a thing.. See why</translate> <a class="linx" href="https://mises.org/library/against-intellectual-property-0" target="_blank" translate>here</a> <translate>and</translate> <a class="linx" href="http://everythingisaremix.info/" target="_blank" translate>here</a>.
					</li>
					<li>
					    <b translate>KEEP IT ORIGINAL.</b> <translate>Luxore is to empower real-life people (not hollywood frauds), to help them find their own styles or create it. So, instead of copy super-duper-models, find out what people think about you... Keep it real.</translate>
					</li>
					<li>
					    <b translate>TAG YOUR PHOTOS.</b> <translate>That is it!</translate>
					</li>
					<li>
					    <b translate>TAG YOUR PHOTOS (II).</b> <translate>Oh, it will help you with visibility and improve the valorization of the network, of the coin and yours.</translate>
					</li>
					<li>
					    <b translate>KEEP IT IN CONTEXT.</b> <translate>Luxore is a platform for showcasing the people, fashion workers, enthusiasts, creators and all related services. So nothing about politics or the MLB, although the MLB jerseys can be more usefull!</translate>
					</li>
					<li>
					    <b translate>GIVE US FEEDBACK.</b> <translate>Bumped into a bug? Something doesn’t look right? Seen something that shouldn’t be here? Have an idea for a feature? Tell us. We love hearing from you. No jokes here! Just saying cause we copied lots of these guidelines from other places, and some things here are really serious.</translate>
					</li>
					<li>
					    <b translate>FLAG MISCONDUCT.</b> <translate>If you see anyone that’s ignoring these community guidelines and you have a problem with it, block them. It's easier than write an email and safer than a knife fight.</translate>
					</li>
				</ul>
			</div>

			<div id="donts" class="section scrollspy">
				<div class="faq-title"><h3 translate>DON'Ts</h3></div>
				<ul>
					<li>
						<b translate>DON'T BE A WHINER.</b> <translate>No one likes crybabies, or evil robots... There are lots of movies about the problems with these evil metal monsters, but the same thing applies to childish complainers and social justice warriors... Take a chill pill, or as a great man once said: "If you don't mind, it doesn't matter" - Jack, 5 years old, Room (2015).</translate>
					</li>
					<li>
					    <b translate>DON’T BE DOCTOR RETARD MCTARDYPANTS.</b> <translate>Although no one likes crybabies, it's not an excuse to be a jerkface... Don’t use Luxore to annoy, harass, or abuse anyone. You can, but people can fight you back with tools instead of words.</translate>
					</li>
					<li>
					    <b translate>DON’T LIE.</b> <translate>Just don't. It is ugly. Shame on you!!</translate>
					</li>
				</ul>
			</div>

			<div id="additional" class="section">
				<div class="faq-title"><h3></h3></div>
				<p translate>
					We reserve the right to remove any image, or member that violates these guidelines... NOT! This right belongs only to owners.
				</p>
				<p translate>
					Got a question about something not covered here? Just ask. 
					Contact us:<br> <a class="linx" href="mailto:whatsup@luxore.me" translate>whatsup@luxore.me</a>
				</p>
				<p translate>
					Got a complain about anything covered here? 
					Contact us:<br>
					<a class="linx" href="mailto:dearjerksofluxorefoundation@luxore.me" translate>dearjerksofluxorefoundation@luxore.me</a>
				</p>
			</div>
		</div>
	</div>
</section>

<div ng-include="'footer.html'"></div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.toc-wrapper').pushpin({ top: $('.toc-wrapper').offset().top, offset: 80 });
	  $('.scrollspy').scrollSpy();
	  $('html, body').animate({ scrollTop: 0 }, 'fast');
	});
</script>