<section class="headerless-home">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="quote" translate>
					<span class="brand">Luxore</span> is about transparency! Everything you want to know will be answered. If your question isn't here, don't mind to contact us!
				</p>
			</div>
		</div>
	</div>
</section>

<section class="tip grey">
	<h1 class="title">{{'First and Foremost'|translate}}:</h1>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p translate>
					Luxore is free! You don't have to pay anything to use it and you don't have to use all features... If you don't want to "collect" from your Looks, you don't have to!
				</p>
			</div>
		</div>
	</div>
</section>

<section class="faq">
  <div class="row">
	<div class="col s2 m2 l2 push-s1 hide-on-med-and-down">
		&nbsp;
		<div class="toc-wrapper" style="top: 0px;">
			<ul class="section table-of-contents">
				<li><a class="active" href="#basics">{{'Basics'|translate}}</a></li>
				<li><a href="#wallet">LUX Coin</a></li>
				<li><a href="#ads">{{'ADs'|translate}}</a></li>
				<li><a href="#business">{{'Business'|translate}}</a></li>
				<li><a href="#gamification">{{'Gamification'|translate}}</a></li>
				<!-- <li><a href="#privacy">Privacy & Security</a></li> -->
			</ul>
		</div>
	</div>

	<div class="col s12 m9 l9">
	  <div id="basics" class="section scrollspy">
		<div class="faq-title"><h2>{{'Basics'}}</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	{{'What is Luxore?'|translate}}
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Luxore is a project of a decentralized social network that rewards its users by placing ads and distributing the revenue among the participants. The initial ditribution is:
				</p>
				<ul>
					<li>65% for the post creator</li>
					<li>25% for all participants that help rise the post value</li>
					<li>10% for the network maintenance by Luxore Foundation</li>
				</ul>
				<p translate>
					You can change and distribute the way you want except for the 10% maintenance.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>How to be different inside Luxore?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					By having original content and making your audience earn with you. You can make series of posts by themes, lists like "the best of" something...
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>How do I earn money?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					When you post a Look, you can choose ads for it. You can also set a default. The post will be shared and applauded by your followers increasing the range of the ad and making your profile more valuable.
					The contracts can be with any duration and any conditions.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>The earnings will be only in LUX Coin?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Yes. The LUX Coin is the basis of the network itself.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>How my look will be linked to a store item?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Through tags! You tag your look and, depending on the ad type, those tags will be used to search similar products.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>How the store contracts work?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					They will make a public offer with their intentions or search for a specific audience. They choose the type of contract and the intructions, the audience will be notified and can choose to accept it or not!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>What if my look does not have any similar items?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Well, that's really diffcult. Maybe you are creating something entirely new... Then you can create a tag for it, and contact someone to produce it... You can have your own digital co-working and hire people to help you...
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>What if I run a fashion blog, can I use the same pictures here?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Yes. We are not competitors. We want to help with visibility and monetization.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">favorite_border</i>
			  	<translate>Do I have any control over the revenue?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Yes. Every cryptocurrency comes with a digital wallet that looks like a bank! You will see there, all your transactions and filter by Look, for example. You can also change the distribution on your looks.
				</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="wallet" class="section scrollspy">
		<div class="faq-title"><h2>{{'Wallet & Coin'|translate}}</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	{{'What is LUX Coin?'|translate}}
			  </div>
			  <div class="collapsible-body">
				<p translate>
					LUX Coin is a cryptocurrency much like Bitcoin. It is a form of digital money and will be used for every transaction inside Luxore.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	<translate>How LUX Coin has value?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Initially it does not have any! Every kind of money has value based on its uses, on people who think that it is a good mean of exchange.
					With time, more people will be using the network and, as the only way of making ads is with LUX, it will have its own market; like a stock!
					It can be thoght as a mileage program, but no one can create those points, and they can be traded as an asset.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	<translate>Who control this currency?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					No one! The whole point of it is to have no central control! They are created through smart contracts and they have a limit: 1 billion LUX, in this case.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	<translate>Is LUX Coin legal?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					It is not ilegal! Some countries are trying to forbid cryptocurrencies, but, unless they shut down the internet, it is not possible. Although they can tax and apply fees to people with these coins, 
					it is not possible to link the money: it has good annonimity!
					Anyway, it is not ilegal in most places to have cryptocurrencies, but you always have to be careful with the greed of polititians!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	<translate>Do I have to declare LUX when I do taxes?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					No. Depending on the country you are, but normally no. Some places have defined Bitcoin as an asset, others as money, others don't care... The thing is they don't have control over digital coins, and you own nothing to them.
					Now, if you really want to, you should check your country's laws about this. Sometimes you can declare coins as an investment...
					In the end it is really up to you! No one can know how much do you have, so you can declare it or you can avoid!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	<translate>What is LUX relation to other currencies?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Every cryptocurrency can be negotiated directly. It is like any other currency: you can exchange dollars for euros, as you can exchange bitcoin for dollars or LUX and vice-versa. The value is defined buy who is selling and who is buying like a normal currency exchange flow.
					We will register the LUX Coin in the main brokers, but you can sell it the way you want!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	<translate>Why not to use a common currency?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					First, because they are controlled. Second, it is a way to give people more freedom to interact, create and make business directly with each other and that is no one else's business!
					Third, because a common currency is insecure which means, there are a high cost to make it work smoothly, and we would depend on banks and courts... That would really be expensive. That is why Luxore is possible: we don't have to worry about those impractical costs...
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">attach_money</i>
			  	<translate>How can I exchange my LUX for money?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					One way, as said above, is to use a broker, but you can sell them for a deposit in your bank account... You can make a transaction for cash! You can trade it for another cryptocurrency... Really up to you!
				</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="ads" class="section scrollspy">
		<div class="faq-title"><h2 translate>ADs</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">store</i>
			  	<translate>Which kind of ads will be available?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Any kind. We strongly believe in people's choice so, given the fashion public, fashion related products and promotions will be more common. Many brands like to link their products with fashion and they thinks it helps to sell more... In the end, you decide which kind of ads you'll have in your posts!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">store</i>
			  	<translate>Who can post ads?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Anyone who pays the owner in LUX.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">store</i>
			  	<translate>How many ads there will be in a Look?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					There are up to 4 spaces for ads.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">store</i>
			  	<translate>How much is a nice value for an ad space?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					We can't know that! That is a barter for stores and users... People will tend to base their decisions about price with other ad services, but some folks will be highly valuable... I've heard famous people are charging companies for twitter comments... How much does it costs? It all depends on a negotiation, but closer to the release we will have an analisys on that and maybe could estimate a initial price.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">store</i>
			  	<translate>When ads expire? How to control it?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					There will be standard contracts and custom ones. The expiration will depend on the contract. You will always have the chance to analise the terms and accept or reject any contract at any time. Smart contracts can be partial: A store would like to pay for 5 of your Looks with their ad... If you post only 3, you'll receive for those 3 and the rest is returned to the store...
				</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="business" class="section scrollspy">
		<div class="faq-title"><h2 translate>Business</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">business</i>
			  	<translate>Can I use Luxore as my own business?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Yes. The goal is to create parallel markets inside the fashion market. Connect people to voluntary trade between them. You can set up a Studio, a digital co-working, and make a living out of it!
					The more the LUX Coin is valuable, the more easy will be to grow a business here!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">business</i>
			  	<translate>Do I need to pay for a business page?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					No. A Studio works as any other 'user', with the same rules. If you want to sell products, than you must pay the transactions fees like a normal credit card payment system, but way cheaper. Those fees are paid for other users to run the Luxore's storage nodes.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">business</i>
			  	<translate>Do I need a registered company to use it?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Nope! That is not a demand. We believe quality and good services don't come from a registered piece of paper. You will be evaluated by other users: if they like your services, fine!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">business</i>
			  	<translate>Which kind of business can I have inside Luxore?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Anything! Digital co-workings are supposed to connect you with other professionals.
					You can have a photo studio and hire models and photographers. You can hire a consultant.
					You can teach others how to look better... Any kind of services professionals can offer... 
					And since the audience is about fashion, any non-related business will not thrive!
				</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="gamification" class="section scrollspy">
		<div class="faq-title"><h2 translate>Gamification</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
			  	<translate>What is Gamification?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Gamification is the process of using game-like incentives in a non-game environment.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
			  	<translate>What is the purpose?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					The purpose of gamification is to create an environment of fun and to make people confortable. The badges, for example, are a way of showing people what is possible inside the network without the boring part of reading a plain document.
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
			  	<translate>What are trophies and badges?</translate>
			  </div>
			  <div class="collapsible-body">
				<p>
					<translate>Trophies are given to those that really stand out! They are a way to show everybody else, the owner has created great value to others.</translate><br>
					<translate>Badges are 'evolution' indicators. They are professional paths and will serve as a way to rate businesses and users as successful creators.</translate><br>
					<!-- <a class="linx" translate>List of Trophies</a><br>
					<a class="linx" translate>List of Badges</a><br> -->
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
			  	<translate>What are the Funder Trophies?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Funder trophies are achievements distributed for every pledge on <a class="linx">kickstarter campaign</a>.
					They give advantages to its bearer within the 2 years period of LUX coin disbursement.
					Each week, according to <a class="linx">this table</a> the coins will be distributed to every points owner through proof of Value and proof of Participation. The Funder Trophies give more points througout this period...
					If 10000 coins are distributed, and we have 100 users with points, a smart contract sums up the points and divide proportionally the coins... Having a head start with more points, means you earn more coins!
				</p>
				<div class="row">
					<div class="col s4">
			  			<div class="center trophy">
			  				<div class="trophy-icon" style="background-image:url('img/assets/trophy-6.png');"></div>
			  				<div class="trophy-name">Cup</div>
			  				<div class="trophy-description">50 points</div>
			  			</div>
			  		</div>
			  		<div class="col s4">
			  			<div class="center trophy">
			  				<div class="trophy-icon" style="background-image:url('img/assets/trophy-1.png');"></div>
			  				<div class="trophy-name">Bronze Trophy</div>
			  				<div class="trophy-description">100 points</div>
			  			</div>
			  		</div>
			  		<div class="col s4">
			  			<div class="center trophy">
			  				<div class="trophy-icon" style="background-image:url('img/assets/trophy-3.png');"></div>
			  				<div class="trophy-name">Silver Trophy</div>
			  				<div class="trophy-description">200 points</div>
			  			</div>
			  		</div>
			  	</div>
		  		<div class="row">
			  		<div class="col s4">
			  			<div class="center trophy">
			  				<div class="trophy-icon" style="background-image:url('img/assets/trophy-4.png');"></div>
			  				<div class="trophy-name">Gold Trophy</div>
			  				<div class="trophy-description">300 points</div>
			  			</div>
			  		</div>
			  		<div class="col s4">
			  			<div class="center trophy">
			  				<div class="trophy-icon" style="background-image:url('img/assets/trophy-2.png');"></div>
			  				<div class="trophy-name">Diamond Trophy</div>
			  				<div class="trophy-description">500 points</div>
			  			</div>
			  		</div>
			  		<div class="col s4">
			  			<div class="center trophy">
			  				<div class="trophy-icon" style="background-image:url('img/assets/trophy-5.png');"></div>
			  				<div class="trophy-name">Luxore Trophy</div>
			  				<div class="trophy-description">750 points</div>
			  			</div>
			  		</div>
			  	</div>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
			  	<translate>What else is gamified?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					There will be 'jobs'. If you want to participate more, you can subscribe to rate looks, to translate and validate tags, to store the network's data, to be third party judge in conflicts, etc.. Lots of little things that help to maintain the network healthy.
					The coin itself is an incentive and those jobs will be like tasks and look like a game!
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
			  	<translate>The rankings will be regional or international?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					There are no central rankings with points, but you can filter and find people by badges, trophies, cities, etc..
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">videogame_asset</i>
			  	<translate>Which are the advantages of this gamification thing?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					Well, they engage people. They will help to maintain the network by making jobs to look like a game. They are a fun way to make things happen and will always work with LUX Coins, so they double the incentives.
				</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <!-- <div id="privacy" class="section scrollspy">
		<div class="faq-title"><h2 translate>Privacy & Security</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">fingerprint</i>
			  	<translate>How the network is secured?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>
					
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">fingerprint</i>
			  	<translate>My files are missing! How do I get them back?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>

				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">fingerprint</i>
			  	<translate>How can I access my account data?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>

				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">fingerprint</i>
			  	<translate>How can I control if other search engines can link to my profile?</translate>
			  </div>
			  <div class="collapsible-body">
				<p translate>

				</p>
			  </div>
			</li>
		</ul>
	  </div> -->

	</div>
	
  </div>
</section> <!-- faq -->

<div ng-include="'footer.html'"></div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.toc-wrapper').pushpin({ top: $('.toc-wrapper').offset().top, offset: 80 });
	  $('.scrollspy').scrollSpy();
	  $('.collapsible').collapsible({
		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	  });
	});
</script>