<section class="headerless-home">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="quote" translate>
					<span>Luxore</span> is a new kind of social network where you make your looks, share them, become a reference and inspire your followers.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="faq">
  <div class="row">
	<div class="col s2 m2 l2 push-s1 hide-on-med-and-down">
		&nbsp;
		<div class="toc-wrapper" style="top: 0px;">
			<ul class="section table-of-contents">
				<li><a class="active" href="#basics" translate>Basics</a></li>
				<li><a href="#account" translate>Account</a></li>
				<li><a href="#wallet" translate>Wallet & Coin</a></li>
				<li><a href="#payments" translate>Payments</a></li>
				<li><a href="#privacy" translate>Privacy & Security</a></li>
				<li><a href="#gamification" translate>Gamification</a></li>
			</ul>
		</div>
	</div>

	<div class="col s12 m9 l9">
	  <div id="basics" class="section scrollspy">
		<div class="faq-title"><h2 translate>Basics</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">filter_drama</i><translate>How do I change my password?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque perferendis eos aut quidem! Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">place</i><translate>How do I sign up?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque perferendis eos aut quidem! Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>Can I remove a post?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How do reviews work?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="account" class="section scrollspy">
		<div class="faq-title"><h2 translate>Account</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How does syncing work?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How do I upload files from my phone or tablet?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How do I link to a file or folder?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="wallet" class="section scrollspy">
		<div class="faq-title"><h2 translate>Wallet & Coin</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translte>How do I change my password?</translte></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How do I delete my account?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How do I change my account settings?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>I forgot my password. How do I reset it?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="payments" class="section scrollspy">
		<div class="faq-title"><h2 translate>Payments</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>Can I have an invoice for my subscription?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>Why did my credit card or PayPal payment fail?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>Why does my bank statement show multiple charges for one upgrade?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="privacy" class="section scrollspy">
		<div class="faq-title"><h2 translate>Privacy & Security</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>Can I specify my own private key?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>My files are missing! How do I get them back?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How can I access my account data?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How can I control if other search engines can link to my profile?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
	  </div>

	  <div id="gamification" class="section scrollspy">
		<div class="faq-title"><h2 translate>Gamification</h2></div>
		<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>What is Gamification?</translate></div>
			  <div class="collapsible-body">
				<p translate>Gamification is the process of using game-like incentives in a non-game environment.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>What is the purpose?</translate></div>
			  <div class="collapsible-body">
				<p translate>The purpose of gamification is to create an environment of fun and to make people confortable. The badges, for example, are a way of showing people what is possible inside the network without the boring part of reading a plain document.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>What are trophies and badges?</translate></div>
			  <div class="collapsible-body">
				<p><translate>Trophies --- great things....</translate><br>
				<translate>Badges --- indicators of "evolution"....</translate><br>
				<a translate>List of Trophies</a><br>
				<a translate>List of Badges</a><br>
				</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>What are the Funder Trophies?</translate></div>
			  <div class="collapsible-body">
				<p><translate>Funder trophies are achievements distributed for every pledge on</translate> <a translate>kickstarter campaign</a>. <translate>They give advantages to the bearer within the 2 years period of LUX coin disbursement.</translate></p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>What else is gamified?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How do I use shipping profiles?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How does your UK Next Day Delivery service work?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>How does your Next Day Delivery service work?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>When will my order arrive?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i><translate>When will my order ship?</translate></div>
			  <div class="collapsible-body">
				<p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
	  </div>

	</div>
	
  </div>
</section> <!-- faq -->

<div ng-include="'footer.html'"></div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.toc-wrapper').pushpin({ top: $('.toc-wrapper').offset().top, offset: 80 });
	});

	$(document).ready(function(){
	  $('.scrollspy').scrollSpy();
	});

	$(document).ready(function(){
	  $('.collapsible').collapsible({
		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	  });
	});

	$('html, body').animate({ scrollTop: 0 }, 'fast');
</script>