<div ng-include="'header.html'"></div>

<section id="features">
	<div>
		<div class="row section-dark">
			<div class="col l4 m4 s12 center hide-on-small-only">
				<img class="feature-icon" src="img/features/search.png">
			</div>
			<div class="col l7 m8 s12">
				<h1 class="title">Looks</h1>
				<p>The looks, your photos, will live in your vitrine - a fancy french name for the "feed".
				Your followers see everything you post there, following a style, a trend, or your creativity..
				You can explore your looks, your body type, events, make-up, hair-style, shoes, underwear, socks,
				bracelets, necklaces... anything you want. To describe the look you can tag it, like
				"party formal dinner long-dress", plus situations such as wedding, new years eve, or walking my dog on the beach, and
				body types like pear, plus-size, skinny, etc.
				The idea is to be found! When you apply tags to you looks, people can find you and cheer your work
				if they like it.
				It's in the looks page that you'll find the ads.
				</p>
			</div>
		</div>

		<div class="row section-light">
			<div class="col l7 m8 s12 push-l1">
				<h1 class="title">Coin</h1>
				<p>Yeah, we have a coin! LUX is a token, a cryto-currency, built on top of <a href="http://lisk.io">Lisk</a>
				which is a platform for building blockchains and decentralized apps!<br>
				The idea is to cut off the bureocracy and, like other crypto-currencies, be safe.
				All the financial transactions inside Luxore network will be made with LUX. That guarantees
				the valuation of the whole system. There will be created (according to this chart) 1 billion coins in two years,
				and it will not be possible to create more or less than this! Every user will have an address
				that works like your bank account number and you can send and receive money with it, protect by
				a passphrase that only you know. (read more).
				</p>
			</div>
			<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
				<img class="feature-icon" src="img/features/coins.png">
			</div>
		</div>

		<div class="row section-dark">
			<div class="col l4 m4 s12 center hide-on-small-only">
				<img class="feature-icon" src="img/features/business.png">
			</div>
			<div class="col l7 m8 s12">
				<h1 class="title">Business</h1>
				<p>Here you can make business following your wishes, talents and inspirations. You can sell
				fashion consulting, create studios with other professionals, tell about your day, make a tutorial,
				or even sell your products. You can generate revenue in any way other people voluntary agree.
				These spaces put people in contact, linking customer and supplier, master and padawan, 
				buyer and seller.
				Business spaces have a vitrine too, so they can be like any other user and post looks, lists and products.
				</p>
			</div>
		</div>

		<div class="row section-light">
			<div class="col l7 m8 s12 push-l1">
				<h1 class="title">News</h1>
				<p>
					O Jornal é um espaço onde você mesmo poderá criar o conteúdo. Aqui você terá espaço para anunciar suas marcas, produtos e serviços. Sua oportunidade de fazer negócios e ficar sempre atualizado com tudo que rola no mundo da moda. Você também encontrará os cases e pessoas que mais se destacaram na rede com reportagens que contam o que estas pessoas estão fazendo para seu destaque.
				</p>
			</div>
			<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
				<img class="feature-icon" src="img/features/news.png">
			</div>
		</div>

		<div class="row section-dark">
			<div class="col l4 m4 s12 center hide-on-small-only">
				<img class="feature-icon" src="img/features/gamification.png">
			</div>
			<div class="col l7 m8 s12">
				<h1 class="title">Gamification</h1>
				<p>
					São recompensas geradas pela performance dentro da rede relacionadas a moda. Ajuda na orientação e no aprendizado do usuário de como crescer e tornar-se referência. Dá clareza da trajetória a ser conquistada e das conquistas realizadas no mundo da moda. Serve como estímulo (interno e externo), orientação e descontração para o usuário. É também uma chancela de status dentro da rede. É apresentado por rankings, títulos, troféus e badges que são adquiridos pelo usuário e definidos pelas diversas trilhas de atuação comunicadas pela rede. As trilhas podem ser de Orientação de Moda (Blog e Tutorial), Hacker (Orientação de uso da rede), Investimento, Consultoria em Fotografia, Maquiagem, Cabelo, Confecção, Venda, Eventos e outros.
				</p>
			</div>
		</div>

		<div class="row section-light">
			<div class="col l7 m8 s12 push-l1">
				<h1 class="title">Social</h1>
				<p>
					Sempre que os usuários acessarem os looks poderão pontuar a foto com nota de 0, 5 ou 10. Quanto maior a nota significa que o usuário gostou muito do look e inclusive poderá gerar “aplausos” para o mesmo.
Os usuários terão visibilidade de quantas pessoas deram nota 0, nota 5 e nota 10 e ainda poderão ver a nota total do look.
Os looks poderão ser comentados por pessoas do seu grupo. Comentários inconvenientes poderão ser excluídos pelo dono da foto.
O usuário que fizer comentários inconvenientes terá uma marca “cobra”. Esta cobra o acompanhará sempre nos comentários. Quanto mais comentários inconvenientes forem atribuídos a ele, maior fica a “cobra”. Quanto menos for classificado como inconivente, a “cobra” vai diminuindo até se exterminar.
O usuário poderá bloquear o usuário que fizer comentários inconvenientes.

Você poderá compartilhar conteúdos interessantes com seu grupo. Você também poderá seguir quem desejar dentro da rede, não precisa ser convidado. Caso necessário, você poderá bloquear algum seguidor inconveniente.

				</p>
			</div>
			<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
				<img class="feature-icon" src="img/features/coins.png">
			</div>
		</div>

		<div class="row section-dark">
			<div class="col l4 m4 s12 center hide-on-small-only">
				<img class="feature-icon" src="img/features/business.png">
			</div>
			<div class="col l7 m8 s12">
				<h1 class="title">Lists</h1>
				<p>
					São listas de interesses diversos definidas pelos usuários, bem como rankings paralelos. Aumenta a vida útil dos looks e consequentemente o período de monetização no sentido de informar especificidades. É um espaço divertido de expressão e uma mídia interna da rede que é definida pelos interesses dos usuários. É ordenável, passiva de comentários do autor e de ser postada.
				</p>
			</div>
		</div>


		<div class="row section-light">
			<div class="col l7 m8 s12 push-l1">
				<h1 class="title">Tags and Search</h1>
				<p>
					Neste local você contará com um imenso banco de dados de moda. Aqui você encontra tudo que precisar sobre a moda. Dicas de looks de acordo com seu estilo, tipo de corpo, ocasião, região, estação do ano, cor, marcas, modelos, enfim, a busca contará com uma gama de tags que irão trazer para você tudo que rola de moda dentro da rede.
Por isso, a importância de você inserir as tags adequadas no momento de postar um look, ele irá formar um grande banco de dados.
				</p>
			</div>
			<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
				<img class="feature-icon" src="img/features/coins.png">
			</div>
		</div>

		<div class="row section-dark">
			<div class="col l4 m4 s12 center hide-on-small-only">
				<img class="feature-icon" src="img/features/business.png">
			</div>
			<div class="col l7 m8 s12">
				<h1 class="title">Tips</h1>
				<p>
					As pessoas poderão apoiar os looks com uma espécie de gorjetas. Por liberalidade, o usuário pode usufruir das tips para motivar quem postou o look.
				</p>
			</div>
		</div>

		<div class="row section-light">
			<div class="col l7 m8 s12 push-l1">
				<h1 class="title">Profile</h1>
				<p>
					É a identidade digital do usuário. Disponibiliza os dados do usuário de forma organizada e consolidada. É tanto a forma de ser percebido por outros usuários da rede, quanto como o se percebe os demais usuários. Permite a escolha e alteração do avatar (foto). É o local para cadastramento dos dados pessoais e do detalhamento do perfil com características pessoais, medidas do corpo, de interesses gerais e de moda. Possibilita configuração do usuário através de template personalizado, bem como permite vincular outras redes sociais, convidar os amigos e principalmente visualizar controle de monetização e da moeda. Armazena informações de badges  através da linha do tempo com suas conquistas e evolução, posições nos rankings, listas personalizadas, galerias e stats (likes, compartilhamento). 
				</p>
			</div>
			<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
				<img class="feature-icon" src="img/features/coins.png">
			</div>
		</div>

		<div class="row section-dark">
			<div class="col l4 m4 s12 center hide-on-small-only">
				<img class="feature-icon" src="img/features/business.png">
			</div>
			<div class="col l7 m8 s12">
				<h1 class="title">Notifications</h1>
				<p>
					É o principal canal de comunicação da rede. Pode receber essas notificações de outros usuários ou da rede. Mostra coisas que existem além do seu grupo e seus conteúdos originam-se das coisas mais importantes que aparecem na rede. É o canal de comunicação administrativo da rede onde pode ser usado para incentivar movimentos rentáveis para o usuário da rede, bem como um guia de orientação para novatos da rede. A informação vai até o usuário, tornando-o alvo de informações relevantes. As notificações são ordenadas por tempo, por interesse e por usuário. Essa classificação independe de tempo, ou seja, as notificações vêm abaixo uma da outra e pode ser desativada pelo usuário.
				</p>
			</div>
		</div>

		<div class="row section-light">
			<div class="col l7 m8 s12 push-l1">
				<h1 class="title">Messanger</h1>
				<p>
					É a comunicação instantânea entre os usuários. Possibilita uma comunicação sem precisar de outros canais externos. São mensagens criptografadas e possibilitam a criação de grupos de conversas. É um canal que possibilita publicidade pelos usuários da rede, donos dos Business Space, com vendas por lote. Está ligada diretamente com o Jornal de Negócios e com o profile do usuário.
				</p>
			</div>
			<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
				<img class="feature-icon" src="img/features/coins.png">
			</div>
		</div>

	</div>
</section>

<div ng-include="'footer.html'"></div>