<section class="headerless-home">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="quote" translate>
					<span>Luxore</span> is built to keep the focus on fashion. All features have something to contribute to that!
				</p>
			</div>
		</div>
	</div>
</section>

<div id="feature-list">
	<section class="looks">
		<div class="container">
			<div class="row">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/improve.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Looks</h1>
					<p>
						The Looks, your photos, will live in your Vitrine - a fancy french name for the "feed".
						Your followers see everything you post there, following a style, a trend, or your creativity...
						You can explore your looks, your body type, events, make-up, hair-style, shoes, underwear, socks,
						bracelets, necklaces... Anything you want.
						The idea is to be found and be on command of your own style!
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="tags grey">
		<div class="container">
			<div class="row">
				<div class="col l7 m8 s12">
					<h1 class="title">Tags and Search</h1>
					<p>
						To describe the look you can tag it, like "party formal dinner long-dress", plus situations such as wedding, 
						new years eve, or walking my dog on the beach, and body types like pear, plus-size, skinny, etc. 
						When you apply tags to your looks, people can find you and cheer your work. 
						Tags make it easy to find everything about fashion filtering the search results by what matters to you!
					</p>
				</div>
				<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/search.png');"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="profile">
		<div class="container">
			<div class="row">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/profile.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Profile</h1>
					<p>
						Your profile is your virtual identity! It shows your info in an organized way with tools for customization and 
						security settings...
						Here you can choose your interests which will filter your Vitrine showing always what is relevant to you. 
						Every info about you will live here and you can control it the way you want - your badges, your data, your friends, 
						rankings, lists, galleries, stats, etc..
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="coin grey">
		<div class="container">
			<div class="row">
				<div class="col l7 m8 s12">
					<h1 class="title">Coin</h1>
					<p>
						Yeah, we have a coin! LUX is a token, a cryto-currency, built on top of <a href="http://lisk.io">Lisk</a>
						which is a platform for building blockchains and decentralized apps!<br>
						The idea is to cut off the bureocracy and, like other crypto-currencies, be safe.
						All the financial transactions inside Luxore network will be made with LUX. That guarantees
						the valuation of the whole system. There will be created 1 billion coins in two years,
						and it will not be possible to create more or less than this! Every user will have an address
						that works like your bank account number and you can send and receive money with it, protected by
						a passphrase that only you know.
					</p>
				</div>
				<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/coins.png');"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="coworking">
		<div class="container">
			<div class="row">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/business.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Studios</h1>
					<p>					
						Here you can make business following your wishes, talents and inspirations. You can sell 
						fashion consulting, create studios with other professionals, tell about your day, make a tutorial, 
						or even sell your products. You can generate revenue in any way other people voluntary agree.
						These virtual coworking put people in contact, linking customer and supplier, master and padawan, buyer and seller. 
						Studios have a vitrine too, like any other user, and you can post looks, lists and products.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="news grey">
		<div class="container">
			<div class="row">
				<div class="col l7 m8 s12">
					<h1 class="title">News</h1>
					<p>
						It is a place to put together internal and external content. It will work like 
						the readers where you subscribe to a blog to receive its posts. Besides this, 
						it will have a yellow pages section where you can announce brands, products and services... 
						Through the Luxore blog you'll always count with interviews and curiosities about the network 
						and the world of fashion around us!
					</p>
				</div>
				<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/news.png');"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="gamification">
		<div class="container">
			<div class="row">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/gamification.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Gamification</h1>
					<p>
						A feature borrowed from games are achievements systems. They stimulate and engage people.
						Thophies and badges are virtual rewards given to users by their performance and they will be tied to 
						professional paths: if you like make-up, you can post about it and become a reference by going deeper 
						into the subject, gaining visibility, having others loving your work, and for each accomplishment you will
						have a badge, a title, or a trophy to show and proof of your dedication!
						They can be used as guide showing the way to more engagement and earnings.
						In games, characters with a higher level are more likely to beat the challenges of the stages, users with higher
						achievements beat easily the barriers of visualization... But all in funny way!
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="social grey">
		<div class="container">
			<div class="row">
				<div class="col l7 m8 s12">
					<h1 class="title">Social</h1>
					<p>
						Being social is the whole point so don't be mean - read about our ethical guidelines <a ui-sref="app.ethics" class="linx">here</a>. 
						When you like a look, you should show your apreciation as well as when you dislike it. To any look, you have 2 buttons: cheer and boo!
						They are the more common way you can interact with others and participate in the network...
						You can also share the look with your followers or put it inside a list...
						Of course, you can leave a comment too. The comments can be deleted by the Look owner or they can be flaged as inappropriated: a snake 
						will be placed in it so other people know that is a mean comment...
						Users can block other users for whatever reason they see fit!
					</p>
				</div>
				<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/social.png');"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="lists">
		<div class="container">
			<div class="row">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/tips.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Tips</h1>
					<p>
						"Every day you encounter people or causes that inspire you to help, to applaud, to support." 
						<a href="https://www.changetip.com">ChangeTip</a> started this briliant project, and we are going to do the same, in LUX inside Luxore. 
						Creative individuals inspire everyone around them and they ususaly can use some support. 
						With the tips feature you can show your appreciation and support in a way beyond 
						likes and shares! Directly to who inspires you...
					</p>
				</div>
			</div>
		</div>
	</section>


	<section class="tips grey">
		<div class="container">
			<div class="row">
				<div class="col l7 m8 s12">
					<h1 class="title">Lists</h1>
					<p>
						Everyone likes lists! They are a handy way of organizing content and they are full of meaning. You can made a list of the best looks of the last decade, for example.
						It will enable looks to live more. Funny and expressive they can be shared and also boost your visibility or business. 
						You can have a wishlist, for example, so people can know how to gift you in your birthday!!
					</p>
				</div>
				<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/lists.png');"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="notifications">
		<div class="container">
			<div class="row">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/notifications.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Notifications</h1>
					<p>
						Notifications keep you informed of what is going on with your posts, your businesses, and your friends! It's a way that we can communicate
						and show you possibilities like advertisers willing to pay you for your services. This can be used as a way to discover the world beyond 
						who you are following... You can receive notifications from studios, from people related to your interests, or even tags!
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="messenger grey">
		<div class="container">
			<div class="row">
				<div class="col l7 m8 s12">
					<h1 class="title">Messenger</h1>
					<p>
						Direct channel of instant communication between users! Through this feature 
						you can keep contact with friends and clients quickly and in privacy! Like the 
						rest of the network, all messages will be encrypted so you can be sure this is a 
						secure line of communication!
					</p>
				</div>
				<div class="col l4 m4 s12 center push-l1 hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/features/whisper.png');"></div>
				</div>
			</div>
		</div>
	</section>

</div>

<div ng-include="'footer.html'"></div>