<div ng-class="{expanded:isExpanded}" class="main-content animate-fade-slide-in"></div>
<section id="home" class="home">
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4 push-l1 push-m1">
				<p class="quote">
					<span>Luxore</span> is a new kind of social network where you make your looks, share them, become a reference and inspire your followers.
				</p>
			</div>
			<div class="col s12 m6 l6 push-l3 push-m4">
				<ul class="call-to-action">
					<li class="brand"><img src="img/logo-vazado.png"></li>
					<li class="btn-kickstarter">
						<a href="#0" class="btn">support us on <b>kickstarter</b></a>
					</li>
					<li class="btn-header cd-modal-action">
						<a class="btn" ng-click="watchVideo($event)">watch the video</a>
						<span class="cd-modal-bg"></span>
					</li>
					<li class="btn-header cd-modal-action">
						<!-- <a href="#0" class="btn" ui-sref="Modal.bitcoinDonate" data-type="modal-trigger"></a> -->
						<a class="btn" ng-click="donateInBitcoin($event)">donate in bitcoin</a>
						<span class="cd-modal-bg"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="features" class="scrollspy">
	<h1 class="title">Features</h1>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/search.png');"></div>
					<div class="feature-title"><span class="btn-luxore">L</span>ooks</div>
					<div class="feature-description">Custom looks made by the power of putting people together. Just search and start dressing</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/gamification.png');"></div>
					<div class="feature-title"><span class="btn-luxore">G</span>amification</div>
					<div class="feature-description">Games are fun and keep us motivated! Besides that, it helps to keep the network healthy.</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/business.png');"></div>
					<div class="feature-title"><span class="btn-luxore">C</span>o-working</div>
					<div class="feature-description">Find people to work with, participate in projects... Create beautiful and useful things!!</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="text-align: center; margin-top: 60px;">
		<a href="#/features" class="btn">
			<i class="material-icons right">send</i>
			More Features
		</a>
	</div>
</section>

<section id="coin" class="scrollspy grey">
	<h1 class="title" translate>LUX Coin</h1>
	<h4>Our own coin, used to negotiate and reduce bureaucracy...</h4>
	<div class="cd-slider-wrapper">
		<ul class="cd-slider">
			<li class="is-visible">
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>Decentralized</h2>
						<p>
							Luxore will be running on top of <a href="http://lisk.io">Lisk</a>, a platform for decentralized apps with their own sidechain. The network and the data will be spread in all users' phones and computers.
						</p>
					</div>
				</div>
			</li> <!-- .cd-half-block.content -->

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>Secure</h2>
						<p>
							Cryptocurrencies are secured by its decentralization and encryption. The transactions and data will be public, but encrypted and everywhere!
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>No Masters</h2>
						<p>
							There will be only LUX 1 billion ever! No one can rule the creation or transactions of the coin. This means no one can interfere in it's value or form.
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>Valuable</h2>
						<p>
							Value is subjective! So LUX value will be based on peoples will of using it. Since, inside Luxore, that is the only way of make transactions, it's value will be determined by market rules of supply and demand: sellers can ask the price they want, and buyers can pay what they want! All voluntary and peaceful.
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>
		</ul> <!-- .cd-slider -->
	</div> <!-- .cd-slider-wrapper -->
</section>

<section id="roadmap" class="scrollspy">
	<h1 class="title" translate>Roadmap</h1>
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a style="left: 120px;" href="#0" data-date="23/11/2015" class="selected">23 Nov</a></li>
					<li><a style="left: 300px;" href="#0" data-date="17/02/2016">17 Feb</a></li>
					<li><a style="left: 560px;" href="#0" data-date="28/05/2016">28 May</a></li>
					<li><a style="left: 800px;" href="#0" data-date="20/06/2016">20 Jun</a></li>
					<li><a style="left: 1100px;" href="#0" data-date="01/12/2016">01 Dec</a></li>
					<li><a style="left: 1300px;" href="#0" data-date="17/02/2017">17 Feb</a></li>
				</ol>
 
				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="timeline-navigation">
			<li><a href="#0" class="prev inactive"><i class="material-icons">keyboard_arrow_left</i></a></li>
			<li><a href="#0" class="next"><i class="material-icons">keyboard_arrow_right</i></a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->
 
	<div class="events-content">
		<ol>
			<li class="selected" data-date="23/11/2015">
				<h2>Project was Born</h2>
				<em>November 23th, 2015</em>
				<p>	
					In a day of bad mood, <a>Loris</a> put some thought in how to make lives better... 
					Fashion is all around us and can lift our moods, our self-estim... When she came with the idea, 
					we started working on a solution: A social network with freedom, that could join people with the same 
					interests - Luxore was born!! Since then, we are working hard to assemble it.
				</p>
			</li>

			<li data-date="17/02/2016">
				<h2>Making it Happen</h2>
				<em>February 17th, 2016</em>
				<p>	
					After the project got body, we started to consider platforms to use, and did some definitions... 
					So now we are implementing... We have...
				</p>
			</li>

			<li data-date="28/05/2016">
				<h2>Spreading the Word</h2>
				<em>May 28th, 2016</em>
				<p>	
					At the same time as the development, we need to create a community around Luxore, so people can 
					wait for the complete project, but more important, give us feedback of the ideas, what can be better, 
					and what we shouldn't be doing!! We are building Luxore to people. It's only fair they can be part of it since the begining.
				</p>
			</li>

			<li data-date="20/06/2016">
				<h2>Kickstarter</h2>
				<em>June 17th, 2016</em>
				<p>	
					Although we are already building Luxore, we don't have all the resources we want... That's why 
					we are launching the project on kickstarter - a platform for crowdfunding. In 30 days, we expect 
					to raise the money so we can keep our schedule!
				</p>
			</li>

			<li data-date="01/12/2016">
				<h2>Experiments</h2>
				<em>December 1st, 2016</em>
				<p>	
					From now on, we need a few early adopters to help us test everything... Find bugs, criticize 
					the layouts, button positioning, colors, anything that could be a threat to usability or bad in the eye!
				</p>
			</li>

			<li data-date="17/02/2017">
				<h2>We made it!</h2>
				<em>February 17th, 2017</em>
				<p>	
					If everything goes well, after almost a year, we are announcing the start of a new network 
					that, by the responses we have so far, can really revolutionize the fashion world!!
					So if you can, help us anyway you can: donating, commenting, downloading...
					Thank you!
				</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>

<section id="join">
	<div class="container">
		<h1 class="title" translate>Join our newsletter</h1>
		<p translate>Keep informed of the steps taken into making this great.</p>
		<form>
			<div class="row">
				<div class="col s1 m3 l3">&nbsp;</div>
				<div class="col s10 m6 l6">
					<div class="" style="margin-bottom: 0px;">
						<div class="card-content" style="height: 100px;">
							<div class="input-field col m12 s12">
								<i class="material-icons prefix pale-text" translate>email</i>
								<input id="email" type="email" class="validate">
								<label for="email" data-error="wrong" translate>Your email address</label>
							</div>
						</div>
						<div class="card-action">
							<a class="btn">
								<i class="material-icons right">send</i>
								Subscribe
							</a>
						</div>
					</div>
				</div>
				<div class="col s1 m3 l3">&nbsp;</div>
			</div>
		</form>
	</div>
</section>

<div ng-include="'footer.html'"></div>