<div ng-class="{expanded:isExpanded}" class="main-content animate-fade-slide-in"></div>
<section id="home" class="home">
	<div class="">
		<div class="row">
			<div class="col s12 m6 l3 push-l3">
				<p class="quote" translate>
					<span class="brand">Luxore</span> is a new kind of social network where you make your looks, share them, become a reference and inspire your followers.
				</p>
			</div>
			<div class="col s12 m6 l4 push-l2">
				<ul class="call-to-action" ng-controller="HeaderController">
					<li class="brand"><img src="img/logo-vazado.png"></li>
					<li class="btn-kickstarter" ng-if="timerRunning">
						<div class="btn">
							{{'Kickstarter will begin soon'|translate}}
							<!-- <timer end-time="1466424000000" autostart="false">
								{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds
							</timer> -->
						</div>
					</li>
					<li class="btn-kickstarter" ng-if="!timerRunning">
						<a href="#0" class="btn">{{'support us on kickstarter'|translate}}</a>
					</li>
					<li class="btn-header cd-modal-action">
						<a class="btn" ng-click="watchVideo($event)">{{'watch the video'|translate}}</a>
					</li>
					<li class="btn-header cd-modal-action">
						<a class="btn" ng-click="donateInBitcoin($event)">{{'donate in bitcoin'|translate}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="features" class="scrollspy">
	<h1 class="title">{{'Features'|translate}}</h1>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/improve.png');"></div>
					<div class="feature-title"><span class="btn-luxore">L</span>ooks</div>
					<div class="feature-description" translate>Custom looks made by the power of putting people together. Just search and start dressing.</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/gamification.png');"></div>
					<div class="feature-title" translate><span class="btn-luxore">G</span>amification</div>
					<div class="feature-description" translate>Games are fun and keep us motivated! Besides that, it helps to keep the network healthy.</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/business.png');"></div>
					<div class="feature-title" translate><span class="btn-luxore">C</span>o-working</div>
					<div class="feature-description" translate>Find people to work with, participate in projects... Create beautiful and useful things!!</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="text-align: center; margin-top: 60px;">
		<a href="#/features" class="btn">
			<i class="material-icons right">send</i>
			{{'More Features'|translate}}
		</a>
	</div>
</section>

<section id="coin" class="scrollspy grey">
	<h1 class="title">LUX Coin</h1>
	<h4 translate>Our own coin, used to negotiate and reduce bureaucracy...</h4>
	<div class="cd-slider-wrapper">
		<ul class="cd-slider">
			<li class="is-visible">
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>{{'Decentralized'|translate}}</h2>
						<p translate>
							Luxore will be running on top of <a class="linx" href="http://lisk.io">Lisk</a>, a platform for decentralized apps with its own sidechain. The network and the data will be spread in all users' devices.
						</p>
					</div>
				</div>
			</li> <!-- .cd-half-block.content -->

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>{{'Secure'|translate}}</h2>
						<p translate>
							Cryptocurrencies are safe by its decentralization and encryption. The transactions and data will be public, but encrypted and everywhere! Everyone can verify the data, but no one can "see" it!
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>{{'No Masters'|translate}}</h2>
						<p translate>
							There will be only 1 billion LUX ever! No one can rule over the creation or the transactions of the coin. This means no one can interfere in it's value or it's form. The coin is free from rulers, so it can be used by free people!
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>{{'Valuable'|translate}}</h2>
						<p translate>
							Value is subjective! So LUX value will be based on peoples will of using it. Since, inside Luxore, that is the only way to make transactions, it's value will be determined by market rules of supply and demand: sellers can ask the price they want, and buyers can pay what they want! All in a voluntary and peaceful way.
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>
		</ul> <!-- .cd-slider -->
	</div> <!-- .cd-slider-wrapper -->
</section>

<section id="roadmap" class="scrollspy">
	<h1 class="title">{{'Roadmap'|translate}}</h1>
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a style="left: 120px;" href="#0" data-date="23/11/2015" class="selected">{{'23 Nov'|translate}}</a></li>
					<li><a style="left: 300px;" href="#0" data-date="17/02/2016">{{'17 Feb'|translate}}</a></li>
					<li><a style="left: 560px;" href="#0" data-date="28/05/2016">{{'28 May'|translate}}</a></li>
					<li><a style="left: 800px;" href="#0" data-date="04/07/2016">{{'20 Jun'|translate}}</a></li>
					<li><a style="left: 1100px;" href="#0" data-date="01/12/2016">{{'01 Dec'|translate}}</a></li>
					<li><a style="left: 1300px;" href="#0" data-date="17/02/2017">{{'Feb'|translate}}</a></li>
				</ol>
 
				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="timeline-navigation">
			<li><a href="#0" class="prev inactive"><i class="material-icons">keyboard_arrow_left</i></a></li>
			<li><a href="#0" class="next"><i class="material-icons">keyboard_arrow_right</i></a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->
 
	<div class="events-content">
		<ol>
			<li class="selected" data-date="23/11/2015">
				<h2 translate>Project was Born</h2>
				<em translate>November 23th, 2015</em>
				<p translate>	
					In a day of bad mood, <a class="linx" ui-sref="app.team#loris">Loris</a> put some thought in how to make people's lives better... 
					Fashion is all around us and can lift our moods, our self-estim... When she came with the idea, 
					we started working on a solution: A social network with freedom, that could join people with the same 
					interests - Luxore was born!! Since then, we are working hard to assemble it.
				</p>
			</li>

			<li data-date="17/02/2016">
				<h2 translate>Making it Happen</h2>
				<em translate>February 17th, 2016</em>
				<p translate>
					After the project got body, we started to consider platforms to use, and did some definitions... 
					So now we are implementing... We have...
				</p>
			</li>

			<li data-date="28/05/2016">
				<h2 translate>Spreading the Word</h2>
				<em translate>May 28th, 2016</em>
				<p translate>
					At the same time as the development, we need to create a community around Luxore, so people can 
					wait for the complete project, but more important, give us feedback of the ideas, what can be better, 
					and what we shouldn't be doing!! We are building Luxore to people. It's only fair they can be part of it since the begining.
				</p>
			</li>

			<li data-date="04/07/2016">
				<h2>Kickstarter</h2>
				<em translate>July 4th, 2016</em>
				<p translate>
					Although we are already building Luxore, we don't have all the resources we want... That's why 
					we are launching the project on kickstarter - a platform for crowdfunding. In 30 days, we expect 
					to raise the money so we can keep our schedule!
				</p>
			</li>

			<li data-date="01/12/2016">
				<h2 translate>Experiments</h2>
				<em translate>December 1st, 2016</em>
				<p translate>
					From now on, we need a few early adopters to help us test everything... Find bugs, criticize 
					the layouts, button positioning, colors, anything that could be a threat to usability or bad in the eye!
				</p>
			</li>

			<li data-date="17/02/2017">
				<h2 translate>We made it!</h2>
				<em translate>February, 2017</em>
				<p translate>
					If everything goes well, after almost a year, we are announcing the start of a new network 
					that, by the responses we have so far, can really revolutionize the fashion world!!
					So if you can, help us anyway you can: donating, commenting, downloading...
					Thank you!
				</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>

<section id="join">
	<div class="container">
		<div class="newsletter">
			<h1 class="title" translate>Join our newsletter</h1>
			<p translate>Keep informed of the steps taken into making this great.</p>
			<form name="formNewsletter" ng-submit="sendEmail(user)" ng-controller="NewsletterController">
				<div class="row">
					<div class="col s12">
						<div style="margin-bottom: 0px;">
							<div class="card-content" style="height: 100px;">
								<div class="input-field col m12 s12">
									<i class="material-icons prefix pale-text">email</i>
									<input id="email" type="email" class="validate" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
									<label for="email" data-error="{{'Your email seems wrong..'|translate}}" translate>Your email address</label>
								</div>
							</div>
							<div class="card-action">
								<input type="submit" class="btn" value="{{'Subscribe'|translate}}">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<div ng-include="'footer.html'"></div>

<script type="text/javascript">

	$('#scrollup').click(function() {
	  $('html, body').animate({ scrollTop: 0 }, 'slow');
	});

	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
	});

jQuery(document).ready(function($) {
	var sliderContainers = $('.cd-slider-wrapper');

	function initBlockSlider(sliderContainers) {
		sliderContainers.each(function(){
			var sliderContainer = $(this),
				slides = sliderContainer.children('.cd-slider').children('li'),
				sliderPagination = createSliderPagination(sliderContainer);

			sliderPagination.on('click', function(event){
				event.preventDefault();
				var selected = $(this),
					index = selected.index();
				updateSlider(index, sliderPagination, slides);
			});

			sliderContainer.on('swipeleft', function(){
				var bool = enableSwipe(sliderContainer),
					visibleSlide = sliderContainer.find('.is-visible').last(),
					visibleSlideIndex = visibleSlide.index();
				if(!visibleSlide.is(':last-child') && bool) {updateSlider(visibleSlideIndex + 1, sliderPagination, slides);}
			});

			sliderContainer.on('swiperight', function(){
				var bool = enableSwipe(sliderContainer),
					visibleSlide = sliderContainer.find('.is-visible').last(),
					visibleSlideIndex = visibleSlide.index();
				if(!visibleSlide.is(':first-child') && bool) {updateSlider(visibleSlideIndex - 1, sliderPagination, slides);}
			});
		});
	}

/*<i class="material-icons">phonelink</i>
<p>Step 1</p>
<div class="deploy_step_name">Code</div>*/

	function createSliderPagination(container){
		var wrapper = $('<ol class="cd-slider-navigation"></ol>');
		container.children('.cd-slider').find('li').each(function(index) {
			var dotWrapper = (index === 0) ? $('<li class="selected"></li>') : $('<li></li>'),
				dot = $('<a href="#0"></a>').appendTo(dotWrapper);
			dotWrapper.appendTo(wrapper);
			var dotText = ( index+1 < 10 ) ? '0'+ (index+1) : index+1;
			dot.text(dotText);
		});
		wrapper.appendTo(container);
		return wrapper.children('li');
	}

	function updateSlider(n, navigation, slides) {
		navigation.removeClass('selected').eq(n).addClass('selected');
		slides.eq(n).addClass('is-visible').removeClass('covered').prevAll('li').addClass('is-visible covered').end().nextAll('li').removeClass('is-visible covered');

		//fixes a bug on Firefox with ul.cd-slider-navigation z-index
		navigation.parent('ul').addClass('slider-animating').on('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
			$(this).removeClass('slider-animating');
		});
	}

	function enableSwipe(container) {
		return ( container.parents('.touch').length > 0 );
	}

	if( sliderContainers.length > 0 ) {
		initBlockSlider(sliderContainers);
	}
});

jQuery(document).ready(function($){
	var timelines = $('#roadmap'),
		eventsMinDistance = 60;

	function initTimeline(timelines) {
		timelines.each(function(){
			var timeline = $(this),
				timelineComponents = {};
			//cache timeline components 
			timelineComponents['timelineWrapper'] = timeline.find('.events-wrapper');
			timelineComponents['eventsWrapper'] = timelineComponents['timelineWrapper'].children('.events');
			timelineComponents['fillingLine'] = timelineComponents['eventsWrapper'].children('.filling-line');
			timelineComponents['timelineEvents'] = timelineComponents['eventsWrapper'].find('a');
			timelineComponents['timelineDates'] = parseDate(timelineComponents['timelineEvents']);
			timelineComponents['eventsMinLapse'] = minLapse(timelineComponents['timelineDates']);
			timelineComponents['timelineNavigation'] = timeline.find('.timeline-navigation');
			timelineComponents['eventsContent'] = timeline.children('.events-content');

			//assign a left postion to the single events along the timeline
			setDatePosition(timelineComponents, eventsMinDistance);
			//assign a width to the timeline
			var timelineTotWidth = setTimelineWidth(timelineComponents, eventsMinDistance);
			//the timeline has been initialize - show it
			timeline.addClass('loaded');

			//detect click on the next arrow
			timelineComponents['timelineNavigation'].on('click', '.next', function(event){
				event.preventDefault();
				updateSlide(timelineComponents, timelineTotWidth, 'next');
			});
			//detect click on the prev arrow
			timelineComponents['timelineNavigation'].on('click', '.prev', function(event){
				event.preventDefault();
				updateSlide(timelineComponents, timelineTotWidth, 'prev');
			});
			//detect click on the a single event - show new event content
			timelineComponents['eventsWrapper'].on('click', 'a', function(event){
				event.preventDefault();
				timelineComponents['timelineEvents'].removeClass('selected');
				$(this).addClass('selected');
				updateOlderEvents($(this));
				updateFilling($(this), timelineComponents['fillingLine'], timelineTotWidth);
				updateVisibleContent($(this), timelineComponents['eventsContent']);
			});

			//on swipe, show next/prev event content
			timelineComponents['eventsContent'].on('swipeleft', function(){
				var mq = checkMQ();
				if ( mq === 'mobile' ) {
					showNewContent(timelineComponents, timelineTotWidth, 'next');
				}
			});
			timelineComponents['eventsContent'].on('swiperight', function(){
				var mq = checkMQ();
				if ( mq === 'mobile' ) {
					showNewContent(timelineComponents, timelineTotWidth, 'prev');
				}
			});

			//keyboard navigation
			$(document).keyup(function(event){
				if(event.which==='37' && elementInViewport(timeline.get(0)) ) {
					showNewContent(timelineComponents, timelineTotWidth, 'prev');
				} else if( event.which==='39' && elementInViewport(timeline.get(0))) {
					showNewContent(timelineComponents, timelineTotWidth, 'next');
				}
			});
		});
	}

	function updateSlide(timelineComponents, timelineTotWidth, string) {
		//retrieve translateX value of timelineComponents['eventsWrapper']
		var translateValue = getTranslateValue(timelineComponents['eventsWrapper']),
			wrapperWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', ''));
		//translate the timeline to the left('next')/right('prev') 
		if (string === 'next') {
			translateTimeline(timelineComponents, translateValue - wrapperWidth + eventsMinDistance, wrapperWidth - timelineTotWidth);
		}
		else {
			translateTimeline(timelineComponents, translateValue + wrapperWidth - eventsMinDistance);
		}
	}

	function showNewContent(timelineComponents, timelineTotWidth, string) {
		//go from one event to the next/previous one
		var visibleContent =  timelineComponents['eventsContent'].find('.selected'),
			newContent = ( string === 'next' ) ? visibleContent.next() : visibleContent.prev();

		if ( newContent.length > 0 ) { //if there's a next/prev event - show it
			var selectedDate = timelineComponents['eventsWrapper'].find('.selected'),
				newEvent = ( string === 'next' ) ? selectedDate.parent('li').next('li').children('a') : selectedDate.parent('li').prev('li').children('a');
			
			updateFilling(newEvent, timelineComponents['fillingLine'], timelineTotWidth);
			updateVisibleContent(newEvent, timelineComponents['eventsContent']);
			newEvent.addClass('selected');
			selectedDate.removeClass('selected');
			updateOlderEvents(newEvent);
			updateTimelinePosition(string, newEvent, timelineComponents);
		}
	}

	function updateTimelinePosition(string, event, timelineComponents) {
		//translate timeline to the left/right according to the position of the selected event
		var eventStyle = window.getComputedStyle(event.get(0), null),
			eventLeft = Number(eventStyle.getPropertyValue("left").replace('px', '')),
			timelineWidth = Number(timelineComponents['timelineWrapper'].css('width').replace('px', '')),
			timelineTotWidth = Number(timelineComponents['eventsWrapper'].css('width').replace('px', ''));
		var timelineTranslate = getTranslateValue(timelineComponents['eventsWrapper']);

        if( (string === 'next' && eventLeft > timelineWidth - timelineTranslate) || (string === 'prev' && eventLeft < - timelineTranslate) ) {
        	translateTimeline(timelineComponents, - eventLeft + timelineWidth/2, timelineWidth - timelineTotWidth);
        }
	}

	function translateTimeline(timelineComponents, value, totWidth) {
		var eventsWrapper = timelineComponents['eventsWrapper'].get(0);
		value = (value > 0) ? 0 : value; //only negative translate value
		value = ((typeof totWidth !== 'undefined') &&  value < totWidth ) ? totWidth : value; //do not translate more than timeline width
		setTransformValue(eventsWrapper, 'translateX', value+'px');
		//update navigation arrows visibility
		if (value === 0 ) {
			timelineComponents['timelineNavigation'].find('.prev').addClass('inactive');
		}
		else {
			timelineComponents['timelineNavigation'].find('.prev').removeClass('inactive');
		}

		if (value === totWidth ) {
			timelineComponents['timelineNavigation'].find('.next').addClass('inactive');
		}
		else {
			timelineComponents['timelineNavigation'].find('.next').removeClass('inactive');
		}
	}

	function updateFilling(selectedEvent, filling, totWidth) {
		//change .filling-line length according to the selected event
		var eventStyle = window.getComputedStyle(selectedEvent.get(0), null),
			eventLeft = eventStyle.getPropertyValue("left"),
			eventWidth = eventStyle.getPropertyValue("width");
		eventLeft = Number(eventLeft.replace('px', '')) + Number(eventWidth.replace('px', ''))/2;
		var scaleValue = eventLeft/totWidth;
		setTransformValue(filling.get(0), 'scaleX', scaleValue);
	}

	function setDatePosition(timelineComponents, min) {
		for (i = 0; i < timelineComponents['timelineDates'].length; i++) { 
		    var distance = daydiff(timelineComponents['timelineDates'][0], timelineComponents['timelineDates'][i]);
		    //var	distanceNorm = Math.round(distance/timelineComponents['eventsMinLapse']) + 2;
		    var	distanceNorm = 3 * (i+1);

		    timelineComponents['timelineEvents'].eq(i).css('left', distanceNorm*min+'px');
		}
	}

	function setTimelineWidth(timelineComponents, width) {
		var timeSpan = daydiff(timelineComponents['timelineDates'][0], timelineComponents['timelineDates'][timelineComponents['timelineDates'].length-1]),
			timeSpanNorm = timeSpan/timelineComponents['eventsMinLapse'],
			totalWidth = 0;

		timeSpanNorm = Math.round(timeSpanNorm) + 4;
		totalWidth = timeSpanNorm*width;

		timelineComponents['eventsWrapper'].css('width', totalWidth+'px');
		updateFilling(timelineComponents['eventsWrapper'].find('a.selected'), timelineComponents['fillingLine'], totalWidth);
		updateTimelinePosition('next', timelineComponents['eventsWrapper'].find('a.selected'), timelineComponents);
	
		return totalWidth;
	}

	function updateVisibleContent(event, eventsContent) {
		var eventDate = event.data('date'),
			visibleContent = eventsContent.find('.selected'),
			selectedContent = eventsContent.find('[data-date="'+ eventDate +'"]'),
			selectedContentHeight = selectedContent.height();

		var classEnetering = 'selected enter-right',
			classLeaving = 'leave-left';

		if (selectedContent.index() > visibleContent.index()) {
			classEnetering = 'selected enter-right';
			classLeaving = 'leave-left';
		} else {
			classEnetering = 'selected enter-left';
			classLeaving = 'leave-right';
		}

		selectedContent.attr('class', classEnetering);
		visibleContent.attr('class', classLeaving).one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(){
			visibleContent.removeClass('leave-right leave-left');
			selectedContent.removeClass('enter-left enter-right');
		});
		eventsContent.css('min-height', selectedContentHeight+'px');
	}

	function updateOlderEvents(event) {
		event.parent('li').prevAll('li').children('a').addClass('older-event').end().end().nextAll('li').children('a').removeClass('older-event');
	}

	function getTranslateValue(timeline) {
		var timelineStyle = window.getComputedStyle(timeline.get(0), null),
			timelineTranslate = timelineStyle.getPropertyValue("-webkit-transform") ||
         		timelineStyle.getPropertyValue("-moz-transform") ||
         		timelineStyle.getPropertyValue("-ms-transform") ||
         		timelineStyle.getPropertyValue("-o-transform") ||
         		timelineStyle.getPropertyValue("transform");

        var translateValue = 0;

        if( timelineTranslate.indexOf('(') >=0 ) {
        	timelineTranslate = timelineTranslate.split('(')[1];
    		timelineTranslate = timelineTranslate.split(')')[0];
    		timelineTranslate = timelineTranslate.split(',');
    		translateValue = timelineTranslate[4];
        } else {
        	translateValue = 0;
        }

        return Number(translateValue);
	}

	function setTransformValue(element, property, value) {
		element.style["-webkit-transform"] = property+"("+value+")";
		element.style["-moz-transform"] = property+"("+value+")";
		element.style["-ms-transform"] = property+"("+value+")";
		element.style["-o-transform"] = property+"("+value+")";
		element.style["transform"] = property+"("+value+")";
	}

	//based on http://stackoverflow.com/questions/542938/how-do-i-get-the-number-of-days-between-two-dates-in-javascript
	function parseDate(events) {
		var dateArrays = [];
		events.each(function(){
			var singleDate = $(this),
				dateComp = singleDate.data('date').split('T'),
				dayComp = '',
				timeComp = '';
			if( dateComp.length > 1 ) { //both DD/MM/YEAR and time are provided
				dayComp = dateComp[0].split('/');
				timeComp = dateComp[1].split(':');
			} else if( dateComp[0].indexOf(':') >=0 ) { //only time is provide
				dayComp = ["2000", "0", "0"];
				timeComp = dateComp[0].split(':');
			} else { //only DD/MM/YEAR
				dayComp = dateComp[0].split('/');
				timeComp = ["0", "0"];
			}
			var	newDate = new Date(dayComp[2], dayComp[1]-1, dayComp[0], timeComp[0], timeComp[1]);
			dateArrays.push(newDate);
		});
	    return dateArrays;
	}

	function daydiff(first, second) {
	    return Math.round((second-first));
	}

	function minLapse(dates) {
		//determine the minimum distance among events
		var dateDistances = [];
		for (i = 1; i < dates.length; i++) { 
		    var distance = daydiff(dates[i-1], dates[i]);
		    dateDistances.push(distance);
		}
		return Math.min.apply(null, dateDistances);
	}

	/*
		How to tell if a DOM element is visible in the current viewport?
		http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
	*/
	function elementInViewport(el) {
		var top = el.offsetTop;
		var left = el.offsetLeft;
		var width = el.offsetWidth;
		var height = el.offsetHeight;

		while(el.offsetParent) {
		    el = el.offsetParent;
		    top += el.offsetTop;
		    left += el.offsetLeft;
		}

		return (
		    top < (window.pageYOffset + window.innerHeight) &&
		    left < (window.pageXOffset + window.innerWidth) &&
		    (top + height) > window.pageYOffset &&
		    (left + width) > window.pageXOffset
		);
	}

	function checkMQ() {
		//check if mobile or desktop device
		//return window.getComputedStyle(document.querySelector('#roadmap'), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "");
	}

	(timelines.length > 0) && initTimeline(timelines);
});

</script>