<div ng-class="{expanded:isExpanded}" class="main-content animate-fade-slide-in"></div>
<section id="home" class="home">
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4 push-l1 push-m1">
				<p class="quote">
					<span>Luxore</span> is a new kind of social network where you make your looks, share them, become a reference and inspire your followers.
				</p>
			</div>
			<div class="col s12 m6 l6 push-l3 push-m4">
				<ul class="call-to-action">
					<li class="brand"><img src="img/logo-vazado.png"></li>
					<li class="btn-kickstarter"><a>support us on <b>kickstarter</b></a></li>
					<li class="btn-header"><a>watch the video</a></li>
					<li class="btn-header"><a>donate in bitcoin</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="features" class="scrollspy">
	<h1 class="title">Features</h1>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/search.png');"></div>
					<div class="feature-title"><span class="btn-luxore">L</span>ook</div>
					<div class="feature-description">Custom looks made by the power of putting people together.</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/gamification.png');"></div>
					<div class="feature-title"><span class="btn-luxore">G</span>amification</div>
					<div class="feature-description">Games are fun and keep users...</div>
				</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/business.png');"></div>
					<div class="feature-title"><span class="btn-luxore">C</span>o-working</div>
					<div class="feature-description">Our own coin is used to negotiate and we have spaces reserved for business that help people find other people and interests.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="text-align: center;">
		<a href="/features"><h5>More features</h5></a>
	</div>
</section>

<section id="coin" class="scrollspy grey">
	<h1 class="title" translate>LUX Coin</h1>
	<div class="cd-slider-wrapper">
		<ul class="cd-slider">
			<li class="is-visible">
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>Decentralized</h2>
						<p>
							Luxore will be running on top of <a href="http://lisk.io">Lisk</a>, a platform for decentralized apps with their own sidechain. The network and the data will be spread in all users' phones and computers.
						</p>
					</div>
				</div>
			</li> <!-- .cd-half-block.content -->

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content light-bg">
					<div>
						<h2>Secure</h2>
						<p>
							Cryptocurrencies are secured by its decentralization and encryption. The transactions and data will be public, but encrypted and everywhere!
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>No Masters</h2>
						<p>
							There will be only LUX 1 billion ever! No one can rule the creation or transactions of the coin. This means no one can interfere in it's value or form.
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>

			<li>
				<div class="cd-half-block image"></div>

				<div class="cd-half-block content">
					<div>
						<h2>Valuable</h2>
						<p>
							Value is subjective! So LUX value will be based on peoples will of using it. Since, inside Luxore, that is the only way of make transactions, it's value will be determined by market rules of supply and demand: sellers can ask the price they want, and buyers can pay what they want! All voluntary and peaceful.
						</p>
					</div>
				</div> <!-- .cd-half-block.content -->
			</li>
		</ul> <!-- .cd-slider -->
	</div> <!-- .cd-slider-wrapper -->
</section>

<section id="roadmap" class="scrollspy">
	<h1 class="title" translate>Roadmap</h1>
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a style="left: 120px;" href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
					<li><a style="left: 300px;" href="#0" data-date="28/02/2014">28 Feb</a></li>
					<li><a style="left: 480px;" href="#0" data-date="20/04/2014">20 Mar</a></li>
					<li><a style="left: 600px;" href="#0" data-date="20/05/2014">20 May</a></li>
					<li><a style="left: 780px;" href="#0" data-date="09/07/2014">09 Jul</a></li>
					<li><a style="left: 960px;" href="#0" data-date="30/08/2014">30 Aug</a></li>
					<li><a style="left: 1020px;" href="#0" data-date="15/09/2014">15 Sep</a></li>
					<li><a style="left: 1200px;" href="#0" data-date="01/11/2014">01 Nov</a></li>
					<li><a style="left: 1380px;" href="#0" data-date="10/12/2014">10 Dec</a></li>
					<li><a style="left: 1500px;" href="#0" data-date="19/01/2015">29 Jan</a></li>
					<li><a style="left: 1680px;" href="#0" data-date="03/03/2015">3 Mar</a></li>
				</ol>
 
				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="timeline-navigation">
			<li><a href="#0" class="prev inactive"><i class="material-icons">keyboard_arrow_left</i></a></li>
			<li><a href="#0" class="next"><i class="material-icons">keyboard_arrow_right</i></a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->
 
	<div class="events-content">
		<ol>
			<li class="selected" data-date="16/01/2014">
				<h2>Horizontal Timeline</h2>
				<em>January 16th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="28/02/2014">
				<h2>Event title here</h2>
				<em>February 28th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="20/04/2014">
				<h2>Event title here</h2>
				<em>March 20th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="20/05/2014">
				<h2>Event title here</h2>
				<em>May 20th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="09/07/2014">
				<h2>Event title here</h2>
				<em>July 9th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="30/08/2014">
				<h2>Event title here</h2>
				<em>August 30th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="15/09/2014">
				<h2>Event title here</h2>
				<em>September 15th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="01/11/2014">
				<h2>Event title here</h2>
				<em>November 1st, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="10/12/2014">
				<h2>Event title here</h2>
				<em>December 10th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="19/01/2015">
				<h2>Event title here</h2>
				<em>January 19th, 2015</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="03/03/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>

<section id="join">
	<div class="container">
		<h1 class="title" translate>Join our newsletter</h1>
		<p translate>Keep informed of the steps taken into making this great.</p>
		<form>
			<div class="row">
				<div class="col s1 m3 l3">&nbsp;</div>
				<div class="col s10 m6 l6">
					<div class="" style="margin-bottom: 0px;">
						<div class="card-content" style="height: 100px;">
							<div class="input-field col m12 s12">
								<i class="material-icons prefix pale-text" translate>email</i>
								<input id="email" type="email" class="validate">
								<label for="email" data-error="wrong" translate>Your email address</label>
							</div>
						</div>
						<div class="card-action">
							<a class="waves-effect waves-light btn-large pale-luxore" style="margin-top: 5px;">
								<i class="material-icons right">send</i>
								<translate>Subscribe</translate>
							</a>
						</div>
					</div>
				</div>
				<div class="col s1 m3 l3">&nbsp;</div>
			</div>
		</form>
	</div>
</section>

<div ng-include="'footer.html'"></div>