<section class="headerless-home">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="quote" translate>
					<span class="brand">Luxore</span> is about have things your way! Our way is to develop this for you...
				</p>
			</div>
		</div>
	</div>
</section>

<div id="team-list">
	<section id="bruno" class="team-member scrollspy">
		<div class="container">
			<div class="row valign-wrapper">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon bruno" style="background-image: url('img/team/bruno.png');"></div>					
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Bruno</h1>
					<p translate>
						Luxore for me is a big project with bigger intentions! As a developer, this is the greatest project I ever been involved. It's amazing to be part of such a revolutionary idea. As libertarian, I always wanted to do something to the liberty cause and I can't imagine myself writing on ethics or economics, but I can understand it, so Luxore is a bunch of good ideas and concepts blended into a decentralized social network with a digital coin. That represents what freedom is to me: no masters, no rulers!
					</p>
					<div class="col s12 social">
						<ul>
							<li>
								<a href="https://www.facebook.com/brunoscholz/" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-facebook"></i>
								</a>
							</li>
							<!-- <li>
								<a href="https://twitter.com/brunoskolz" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-twitter"></i> 
								</a>
							</li> -->
							<li>
								<a href="https://br.linkedin.com/in/bruno-scholz-b2a55723" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="cristiano" class="team-member grey scrollspy">
		<div class="container">
			<div class="row valign-wrapper">
				<div class="col l7 m8 s12">
					<h1 class="title">Cristiano</h1>
					<p translate>
						Luxore to me is a big challenge! A project full of difficulties to overcome, to develop a new way of understand fashion. A project to provide users the possibility to show to the world and to the market their talents and products, in a secure way without all the bureaucracy. Create a warm and inspiring environment for users to achieve and realize their dreams.
					</p>
					<div class="col s12 social">
						<ul>
							<li>
								<a href="https://www.facebook.com/profile.php?id=100006064298545" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-facebook"></i>
								</a>
							</li>
							<!-- <li>
								<a href="https://twitter.com/cristianno" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-twitter"></i> 
								</a>
							</li> -->
							<li>
								<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fbr.linkedin.com%2Fin%2Fcristiano-silva-24362a6a&h=6AQGx39y4" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/team/cristiano.png');"></div>					
				</div>
			</div>
		</div>
	</section>

	<section id="gustavo" class="team-member scrollspy">
		<div class="container">
			<div class="row valign-wrapper">
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/team/gustavo.png');"></div>
				</div>
				<div class="col l7 m8 s12">
					<h1 class="title">Gustavo</h1>
					<p translate>
						Luxore to me is a convergence place to all people interested in fashion. This basically represents two things to them: express fashion and learn about it. It's a mix of the right of expressing talents with the possibility to learn. These two things are interrelated within Luxore, generating an effect that influences and popularizes fashion. It's an uneven moment that will make a big difference in how and who will dictate fashion.
					</p>
					<div class="col s12 social">
						<ul>
							<li>
								<a href="https://www.facebook.com/gustavo.schechtel.7?fref=ts" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-facebook"></i>
								</a>
							</li>
							<!-- <li>
								<a href="https://twitter.com/gustavo" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-twitter"></i> 
								</a>
							</li> -->
							<li>
								<a href="https://br.linkedin.com/in/gustavo" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="loris" class="team-member grey scrollspy">
		<div class="container">
			<div class="row valign-wrapper">
				<div class="col l7 m8 s12">
					<h1 class="title">Loris</h1>
					<p translate>
						You know when we fall in love for the first time? We feel a contagious joy, everything is a reason to laugh and we have that urge to shout to the whole world we are happy with someone else? That's how I feel about Luxore! It came in a special way with the purpose to delight people. It represents a watershed between standards and concepts adopted so far to a new moment of total freedom and opportunity for everyone to discover their potential beauty and influence through fashion.
					</p>
					<div class="col s12 social">
						<ul>
							<li>
								<a href="https://www.facebook.com/loris.figueiredo.3?fref=ts" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-facebook"></i>
								</a>
							</li>
							<!-- <li>
								<a href="https://twitter.com/loris" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-twitter"></i> 
								</a>
							</li> -->
							<li>
								<a href="https://br.linkedin.com/in/`loris" class="btn-luxore btn-large" target="_blank">
									<i class="zmdi zmdi-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col l4 m4 s12 center hide-on-small-only">
					<div class="feature-icon" style="background-image: url('img/team/loris.png');"></div>					
				</div>
			</div>
		</div>
	</section>

</div>

<div ng-include="'footer.html'"></div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.scrollspy').scrollSpy();
	  // $('html, body').animate({ scrollTop: 0 }, 'fast');
	});
</script>