@luxore-light-bg-dark-text-primary: rgba(0,0,0,0.87);
@luxore-light-bg-dark-text-secondary: rgba(0,0,0,0.54);
@luxore-light-bg-dark-text-hints: rgba(0,0,0,0.26);

@luxore-dark-bg-light-text-primary: rgba(255,255,255,1);
@luxore-dark-bg-light-text-secondary: rgba(255,255,255,0.7);
@luxore-dark-bg-light-text-hints: rgba(255,255,255,0.3);

@luxore-positive: #492760;
@luxore-positive900: #30074d;
@luxore-positive100: #b49bc5;
@luxore-calm: #6200ea;
@luxore-calm900: #27005e;
@luxore-calm100: #7d7fd4;
@luxore-royal: #82778c;
@luxore-royal900: #60516d;
@luxore-royal100: #dcdcdc;
@luxore-balanced: #4CAF50;
@luxore-balanced900: #1B5E20;
@luxore-balanced100: #C8E6C9;
@luxore-energized: #dbce56;
@luxore-energized900: #867b1c;
@luxore-energized100: #e9e3a9;
@luxore-assertive: #F44336;
@luxore-assertive900: #B71C1C;
@luxore-assertive100: #FFCDD2;
@luxore-stable: #E0E0E0;