//Typo

@fontName: 'Poiret One', cursive;
@fontNameLight: 'Raleway', sans-serif;
@fontNameBold: 'Raleway', sans-serif;

@font-size--thin: 0.5rem;
@font-size--small: 0.7rem;
@font-size--normal: 1rem;
@font-size--medium: 1.4rem;
@font-size--double: 2rem;
@font-size--large: 3.3rem;
@font-size--extra-large: 4rem;

@font-weight--thin: 100;
@font-weight--light: 300;
@font-weight--normal: 400;
@font-weight--normal-bold: 600;
@font-weight--bold: 700;
@font-weight--extra-bold: 800;
@font-weight--ultra-bold: 900;

/* {
   & .light {
      font-weight: 300;
   }
   & .normal {
      font-weight: 400;
   }
   & .medium {
      font-weight: 500;
   }
   & .bold {
      font-weight: 700;
   }
   & .heavy {
      font-weight: 900;
   }
}*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: @luxore-logo-purple;
  background-color: @luxore-text-light;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

*::selection {
  background: @luxore-text-dark; /* WebKit/Blink Browsers */
  color: @luxore-text-light;
}
*::-moz-selection {
  background: @luxore-text-dark; /* Gecko Browsers */
  color: @luxore-text-light;
}

.linx {
  position: relative;
  color: @luxore-logo-purple;
  font-weight: 700;
  text-decoration: none;
  .transition(none 0.25s linear);
  &:hover {
    color: @luxore-logo-purple;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: @luxore-text-dark;
    visibility: hidden;
    .transform(scaleX(0));
    .transition(all 0.3s ease-in-out 0s);
  }
  &:hover:before {
    visibility: visible;
    .transform(scaleX(1));
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}