//Typo

@fontName: 'Poiret One', cursive;
@fontNameLight: 'Raleway', sans-serif;
@fontNameBold: 'Raleway', sans-serif;

@font-size--extra-large: 4rem;
@font-size--large: 3.3rem;
@font-size--medium: 1.2rem;
@font-size--small: 0.7rem;

/* {
   & .light {
      font-weight: 100;
   }
   & .regular {
      font-weight: 400;
   }
   & .medium {
      font-weight: 500;
   }
   & .bold {
      font-weight: 700;
   }
   & .heavy {
      font-weight: 900;
   }
}*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: @luxore-logo-purple;
  background-color: @luxore-text-light;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}

.linx {
  position: relative;
  color: #404040;
  text-decoration: none;
  .transition(none 0.25s linear);
  &:hover {
    color: @luxore-logo-purple;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: @luxore-logo-purple;
    visibility: hidden;
    .transform(scaleX(0));
    .transition(all 0.3s ease-in-out 0s);
  }
  &:hover:before {
    visibility: visible;
    .transform(scaleX(1));
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}