<section class="faq">
  <div class="row">
  	<div class="col hide-on-small-only m3 l2">
  		&nbsp;
    	<div class="toc-wrapper" style="top: 0px;">
    		<ul class="section table-of-contents">
		        <li><a class="active" href="#basics">Basics</a></li>
				<li><a class="" href="#mobile">Mobile</a></li>
				<li><a href="#account">Account</a></li>
				<li><a href="#payments">Payments</a></li>
				<li><a href="#privacy">Privacy</a></li>
				<li><a href="#delivery">Delivery</a></li>
		    </ul>
    	</div>
    </div>

    <div class="col s12 m9 l10">
      <div id="basics" class="section scrollspy">
      	<div class="faq-title"><h2>Basics</h2></div>
        <ul class="collapsible" data-collapsible="accordion">
			<li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>How do I change my password?</div>
		      <div class="collapsible-body">
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque perferendis eos aut quidem! Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">place</i>How do I sign up?</div>
		      <div class="collapsible-body">
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque perferendis eos aut quidem! Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">whatshot</i>Can I remove a post?</div>
		      <div class="collapsible-body">
		      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
		      </div>
		    </li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do reviews work?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
    	</ul>
      </div>

      <div id="mobile" class="section scrollspy">
      	<div class="faq-title"><h2>Mobile</h2></div>
        <ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How does syncing work?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do I upload files from my phone or tablet?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do I link to a file or folder?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
      </div>

      <div id="account" class="section scrollspy">
      	<div class="faq-title"><h2>Account</h2></div>
        <ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do I change my password?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do I delete my account?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do I change my account settings?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>I forgot my password. How do I reset it?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
      </div>

      <div id="payments" class="section scrollspy">
      	<div class="faq-title"><h2>Payments</h2></div>
        <ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>Can I have an invoice for my subscription?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>Why did my credit card or PayPal payment fail?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>Why does my bank statement show multiple charges for one upgrade?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
      </div>

      <div id="privacy" class="section scrollspy">
      	<div class="faq-title"><h2>Privacy</h2></div>
        <ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>Can I specify my own private key?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>My files are missing! How do I get them back?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How can I access my account data?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How can I control if other search engines can link to my profile?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
      </div>

      <div id="delivery" class="section scrollspy">
      	<div class="faq-title"><h2>Delivery</h2></div>
        <ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>What should I do if my order hasn't been delivered yet?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How can I find your international delivery information?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>Who takes care of shipping?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do returns or refunds work?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How do I use shipping profiles?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How does your UK Next Day Delivery service work?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>How does your Next Day Delivery service work?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>When will my order arrive?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">whatshot</i>When will my order ship?</div>
			  <div class="collapsible-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et.</p>
			  </div>
			</li>
		</ul>
      </div>

    </div>
    
  </div>
</section> <!-- faq -->

<script type="text/javascript">
	$(document).ready(function(){
      $('.toc-wrapper').pushpin({ top: $('.toc-wrapper').offset().top, offset: 80 });
    });
</script>