<section id="home" class="home">
	<div class="home__content">
		<h1 class="home__title">
			<span class="home__title__eyebrow" translate>welcome to</span>
			<span translate>a new kind of social network</span>
		</h1>
		<ul class="home__highlights">
			<li class="home__highlight" translate>decentralized</li>
			<li class="home__highlight" translate>gamified</li>
			<li class="home__highlight" translate>monetized</li>
		</ul>
		<!-- <a class="waves-effect waves-light btn-large purple-luxore qv-modal-trigger" style="margin-top: 40px;">
			<i class="material-icons right">play_circle_outline</i>
			<translate>Watch the Video</translate>
		</a> -->
	</div>
</section>

<section id="features" class="scrollspy">
	<h1 class="title" translate>Features</h1>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="center feature">
	        		<div class="feature-icon" style="background-image: url('img/features/search.png');"></div>
					<div class="feature-title" translate>Look</div>
					<div class="feature-description" translate>Custom looks made by the power of putting people toguether.</div>
	      		</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/coins.png');"></div>
					<div class="feature-title" translate>Coin</div>
					<div class="feature-description" translate>...</div>
        		</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/business.png');"></div>
					<div class="feature-title" translate>Business</div>
					<div class="feature-description" translate>Our own coin is used to negotiate and we have spaces reserved for business that help people find other people and interests.</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m4 l4">
				<div class="feature center">
					<div class="feature-icon" style="background-image: url('img/features/news.png');"></div>
					<div class="feature-title" translate>News</div>
					<div class="feature-description" translate>Put toguether all your blog feeds.</div>
	      		</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/gamification.png');"></div>
					<div class="feature-title" translate>Gamification</div>
					<div class="feature-description" translate>Games are fun and keep users...</div>
        		</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon" style="background-image: url('img/features/like.png');"></div>
					<div class="feature-title" translate>Social</div>
					<div class="feature-description" translate>Share, like, dislike, vote, tip...</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="the-app" class="scrollspy stepSection" data-step='1'>
	<h1 class="title" translate>The App</h1>
	<p class="center-align">Simple &middot; Fast &middot; Secure</p>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="center feature stepBtn step_1">
	        		<div class="app-feature-icon"><i class="material-icons">phonelink</i></div>
					<div class="app-feature-title" translate>Look</div>
					<div class="app-feature-description" translate>Search...</div>
	      		</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature stepBtn step_2">
					<div class="app-feature-icon"><i class="material-icons">cloud_upload</i></div>
					<div class="app-feature-title" translate>Coin</div>
					<div class="app-feature-description" translate>Buy...</div>
        		</div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature stepBtn step_3">
					<div class="app-feature-icon"><i class="material-icons">device_hub</i></div>
					<div class="app-feature-title" translate>Business</div>
					<div class="app-feature-description" translate>Trade...</div>
				</div>
			</div>
		</div>
    </div>
</section>

<div id="app-mockups">
	<div class="slider">
		<ul class="slides">

			<li>
				<div class="caption center-align">
					<h3>This is our big Tagline!</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
					<p class="slide-img"><img src="/img/features/telaMockup01.png"></p>
				</div>
			</li>
			<li>
				<div class="caption left-align">
					<h3>Left Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
					<p class="slide-img"><img src="/img/features/telaMockup02.png"></p>
				</div>
			</li>
			<li>
				<div class="caption right-align">
					<h3>Right Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
					<p class="slide-img"><img src="/img/features/telaMockup03.png"></p>
				</div>
			</li>

		</ul>
	</div>
</div>

<section id="other-features" class="scrollspy">
	<h1 class="title" translate>Other Features</h1>
	<div class="container">
		
	</div>
</section>

<section id="join">
	<div class="container">
		<h1 class="title" translate>Join our newsletter</h1>
		<form>
			<div class="row">
				<div class="col s1 m3 l3">&nbsp;</div>
				<div class="col s10 m6 l6">
					<div class="" style="margin-bottom: 0px;">
						<div class="card-content" style="height: 200px;">
							<p translate>Keep informed of the steps taken into making this great.</p>
							<div class="input-field col m12 s12" style="margin-top: 70px;">
								<i class="material-icons prefix" translate>email</i>
								<input id="email" type="email" class="validate">
          			<label for="email" data-error="wrong" translate>Your email address</label>
							</div>
						</div>
						<div class="card-action">
							<a class="waves-effect waves-light btn-large purple-luxore" style="margin-top: 5px;">
								<i class="material-icons right">send</i>
								<translate>Subscribe</translate>
							</a>
						</div>
					</div>
				</div>
				<div class="col s1 m3 l3">&nbsp;</div>
			</div>
		</form>
	</div>
</section>