<section id="home" class="home">
	<div class="home__content">
		<h1 class="home__title">
			<span class="home__title__eyebrow">welcome to</span>
			<span>a new kind of social network</span>
		</h1>
		<ul class="home__highlights">
			<li class="home__highlight">decentralized</li>
			<li class="home__highlight">gamified</li>
			<li class="home__highlight">monetized</li>
			<li class="home__highlight">inclusive</li>
		</ul>
		<a class="waves-effect waves-light btn-large purple-luxore cd-modal-trigger" style="margin-top: 40px;">
			<i class="material-icons right">play_circle_outline</i>
			Watch the Video
		</a>
	</div>
</section>

<section id="features" class="scrollspy">
	<h1 class="title">What is It?</h1>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="center feature">
	        <div class="feature-icon"><i class="material-icons">settings</i></div>
					<div class="feature-title">Look</div>
					<div class="feature-description">Custom looks made by the power of putting people toguether.</div>
	      </div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon"><i class="material-icons">group</i></div>
					<div class="feature-title">Coin</div>
					<div class="feature-description">...</div>
        </div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon"><i class="material-icons">settings</i></div>
					<div class="feature-title">Business</div>
					<div class="feature-description">Our own coin is used to negotiate and we have spaces reserved for business that help people find other people and interests.</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="benefits" class="scrollspy">
	<div class="container">
		<div class="row">
			<div class="col s4">
				<h1 class="title">
					<span style="line-height: 1.6;">improve</span><br>
					<span>your style</span>
				</h1>
				<p class="description">Learn from others, share information and teach other people.</p>
			</div>
		</div>
	</div>	
</section>

<section id="brag">
	<div class="container">
		<h5 class="center-align">Kickstarter</h5>
	</div>
</section>

<section id="other-features" class="scrollspy">
	<h1 class="title">Other Features</h1>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="center">
					<div class="feature-icon"><i class="material-icons">flash_on</i></div>
					<div class="feature-title">News</div>
					<div class="feature-description">Put toguether all your blog feeds.</div>
	      </div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon"><i class="material-icons">flash_on</i></div>
					<div class="feature-title">Gamification</div>
					<div class="feature-description">Games are fun and keep users...</div>
        </div>
			</div>
			<div class="col s12 m4 l4">
				<div class="center feature">
					<div class="feature-icon"><i class="material-icons">settings</i></div>
					<div class="feature-title">Social</div>
					<div class="feature-description">Share, like, dislike, vote, tip...</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="join">
	<div class="container">
		<h1 class="title">Join our newsletter</h1>
		<form>
			<div class="row">
				<div class="col s1 m3 l3">&nbsp;</div>
				<div class="col s10 m6 l6">
					<div class="" style="margin-bottom: 0px;">
						<div class="card-content" style="height: 200px;">
							<p>Keep informed of the steps taken into making this great.</p>
							<div class="input-field col m12 s12" style="margin-top: 70px;">
								<i class="material-icons prefix">email</i>
								<input id="email" type="email" class="validate">
          			<label for="email" data-error="wrong">Your email address</label>
							</div>
						</div>
						<div class="card-action">
							<a class="waves-effect waves-light btn-large purple-luxore" style="margin-top: 5px;">
								<i class="material-icons right">send</i>
								Subscribe
							</a>
						</div>
					</div>
				</div>
				<div class="col s1 m3 l3">&nbsp;</div>
			</div>
		</form>
	</div>
</section>
