<div class="card card-bitcoin">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://res.cloudinary.com/coinbase/image/upload/c_fill,h_360,w_920/v1421211174/bvrrexahhi31enwxu3wz.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Donate to:<i class="material-icons right">more_vert</i></span>
    <p><a href="bitcoin:1Np2iFGAPJNxpKkPpMHeqxaAotJZZUTrqr" target="_blank">1Np2iFGAPJNxpKkPpMHeqxaAotJZZUTrqr</a></p>
    <em>click in the image or the icon on the left for the QR Code</em>
  </div>
  <div class="card-action">
    <input type="text" ng-model="vm.model">
    <a href="#" ng-click="toClipboard('1Np2iFGAPJNxpKkPpMHeqxaAotJZZUTrqr')">
      Copy Address
    </a>
    <a href="#" class="btn btn-waiting"  style="display: none;">
      Waiting for Payment
    </a>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Scan QR code<i class="material-icons right">close</i></span>
    <div class="qrcode" data-size="6" data-level="l" data-css-size="100">
      
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    //btcdonate();
    btcdonate({fill: "#000000"});
  });
  /*
   *
   * You can also try variations by changing the "fill" and "radius" values:
   *
   * Use a black QR code:
   *   btcdonate({fill: "#990000"});
   *
   * Don't curve the lines so much:
   *   btcdonate({radius: 0});
   *
   * Combine both of the above:
   *   btcdonate({
   *     fill: "#990000",
   *     radius: 0
   *   });
   *
   */
</script>