<section id="features" class="section white">
	<div class="container">
		<div class="row">
			<div class="col l3 m4 s12">
				<img class="feature-icon" src="img/features/search.png">
			</div>
			<div class="col l9 m8 s12">
				<h2>Looks</h2>
				<p>The looks, your photos, will live in your vitrine - a fancy french name for the "feed".
				Your followers see everything you post there, following a style, a trend, or your creativity..
				You can explore your looks, your body type, events, make-up, hair-style, shoes, underwear, socks,
				anything...
				Aqui você terá uma vitrine inteiramente sua.
				Será um local para você explorar sua criatividade e bom humor com a moda. 
				Você irá postar suas fotos com seus looks preferidos, respeitando seu estilo, 
				seu tipo de corpo, a ocasião, o clima, maquiagem, cabelo, acessórios, sapatos, 
				enfim, tudo que você considerar relevante para destacar na foto.
Ao postar, você deve adicionar tags relacionadas ao conteúdo da foto, exemplo: look romântico, corpo tipo retângulo, saia longa branca, regata fios dourados, sandália dourada, jantar ano novo.
Através das tags que você registrar na foto, você será achado na rede pelo seu grupo ou por usuários fora do seu grupo. Quanto maior for o cadastro de suas tags, maior a chance de você ser encontrado na área de buscas da rede. Quanto mais você for encontrado, maior as chances de você ser monetizado.
As pessoas irão dar uma nota a seu look, podendo variar de 0 à 10. Ao clicarem no seu look, terão acesso a produtos similares ao seu que estejam disponíveis no varejo e poderão acessar estes varejos através da sua foto, gerando leads e rentabilizando sua foto.
É neste espaço também que você irá permitir, a seu critério, as propagandas das marcas. Quando as marcas quiserem fazer publicidade dentro da rede, é o usuário que irá permitir que tal marca apareça em suas fotos. Exemplo: Se você curte grifes, você pode permitir propagandas somente de grifes. Se você curte marcas fast fashion, você poderá permitir somente estas em suas fotos. As marcas lançarão dentro da rede ofertas públicas, informando que querem fazer publicidade e dando os critérios de quem poderá aceitar esta publicidade. Por exemplo: A marca pode querer que somente usuários com mais de 200 seguidores divulguem sua propaganda. E sendo de interesse do usuário, ele poderá fazer.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col l9 m8 s12">
				<h2>Coin</h2>
				<p>É o espaço que permite que os usuários façam negócios dentro da rede seguindo seus desejos, talentos e inspirações. É o espaço de exposição desses talentos que podem aparecer de diversas formas. Podendo ser de fornecedores de materiais, de produção na forma de criação e confecção, de venda de produtos nas suas mais diversas formas, de venda de serviços como consultorias, informação e educação. É o espaço que pode gerar receita ao usuário através da entrega de valor de forma efetiva nas mais diversas áreas relacionadas a moda. É onde as relações de trocas acontecem formando elos como tutor e aprendiz, fornecedor e cliente, criação e admiração, de técnica e aplicação, conteúdo e aprendizado, de ideia e inovação e muitas outras que só o futuro nos dirá. O business space possibilita diálogo por voz e não somente texto. Também é uma forma de remuneração por possuir espaços publicitários que poderão ser criados de acordo com as categorias disponíveis.
				</p>
			</div>
			<div class="col l3 m4 s12">
				<img class="feature-icon" src="img/features/coins.png">
			</div>
		</div>

		<div class="row">
			<div class="col l3 m4 s12">
				<img class="feature-icon" src="img/features/business.png">
			</div>
			<div class="col l9 m8 s12">
				<h2>Business</h2>
				<p>A Luxore criou a Lux, uma moeda digital que representará todas as transações remuneradas dentro da rede. Quando você for monetizado por pontuação no seu look, quando uma marca pagar por lead, quando você fizer negócios no Business Space ou quando houver qualquer transação entre usuários que gere monetização, você irá utilizar a moeda Lux.
Serão criadas 2 Bilhões de moedas que serão distribuídas semanalmente durante 2 anos. Conforme a distribuição da moeda for acontecendo e conforme for crescendo a relação entre a oferta e demanda, esta moeda passará a ter valor tonando-se cambiável por moedas nacionais, como Real, Dólar, Euro ou até mesmo Bitcoin.
Cada usuário terá sua “Carteira Digital” onde poderá controlar e acompanhar sua conta, transações realizadas e evolução da moeda.
As transações dentro da rede serão permitidas somente com a moeda Lux. A mesma poderá ser vendida ou adquirida em sites de câmbio de moeda digital.
A Luxore fará reportes periódicos da valorização e distribuição desta moeda, sendo transparente aos usuários todo o controle e acompanhamento desta moeda.
				</p>
			</div>
		</div>
	</div>
</section>