<section id="features" class="section">
  <div class="container">
    <div class="row">
      <div class="hide-on-med-and-down prototype">
      <img src="img/features/iPhone-6-capa.png" class="iphone-base" id="imgBase">
        <img src="img/features/telaMockup01.png" class="iphone-images" id="imgMokup">
      </div>
      <div class="slider">
        <ul class="slides">
          <li>
            <div class="col s12 l6 offset-l6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
              <div class="features">
                <div class="icon">
                  <i class="mdi-communication-business"></i>
                </div>
                <div class="features-text">
                  <h4>Looks</h4>
                  <p>
                    Looks are our fuel. The value of the network is here! We want to incentivize creative people to become powerful. 
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="col s12 l6 offset-l6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
             <div class="features">
              <div class="icon">
                <i class="mdi-action-favorite"></i>
              </div>
              <div class="features-text">
                <h4>Vitrine and Search</h4>
                <p>
                  Every person or business has a vitrine; This is your showcase. The search is your way to find exactly what you want in the best way possible.
                </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="col s12 l6 offset-l6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-hardware-phonelink"></i>
              </div>
              <div class="features-text">
                <h4>Business</h4>
                <p>
                  You can create business pages that can be, pretty much, whatever you want: ecommerce, studios, blogs, teaching classes, etc.
                </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="col s12 l6 offset-l6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
           <div class="features">
            <div class="icon">
              <i class="mdi-action-settings"></i>
            </div>
            <div class="features-text">
              <h4>LUX coin</h4>
              <p>
                A coin based on the same principles of <a href="http://lisk.io" target="blank">Lisk</a> and <a href="">Bitcoin</a> and is the main incentive in the network.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="col s12 l6 offset-l6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
          <div class="features">
            <div class="icon">
              <i class="mdi-action-done-all"></i>
            </div>
            <div class="features-text">
              <h4>Gamification</h4>
              <p>
                Through tecniques inherited of games, this is another incentive factor of the network; Things like competition, achievements and scores are here!
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="col s12 l6 offset-l6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
         <div class="features">
          <div class="icon">
            <i class="mdi-image-blur-linear"></i>
          </div>
          <div class="features-text">
            <h4>News Feed</h4>
            <p>
              Besides important announcements of the network itself, you can sign to your favorite blogs and channels to stay always updated.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


</div>
</div>
</section>