<section id="footer">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l3">
          <h3>Products</h3>
          <ul>
            <li><a href="http://wingthemes.com/">WingThemes</a>
            </li>
            <li><a href="http://graygrids.com/">Graygrids</a>
            </li>
            <li><a href="http://wpbean.com/">WPBean</a>
            </li>
            <li><a href="http://landingbow.com/">Landingbow</a>
            </li>
            <li><a href="http://freebiescircle.com/">FreebiesCicle</a>
            </li>               
          </ul>
        </div>
        <div class="col s12 m6 l3">
          <h3>FAQs</h3>
          <ul>
            <li><a href="#">Why choose us?</a>
            </li>
            <li><a href="#">Where we are?</a>
            </li>
            <li><a href="#">Fees</a>
            </li>
            <li><a href="#">Guarantee</a>
            </li>
            <li><a href="#">Discount</a>
            </li>
          </ul>
        </div>
        <div class="col s12 m6 l3">
          <h3>About</h3>
          <ul>
            <li><a href="#">Career</a>
            </li>
            <li><a href="#">Partners</a>
            </li>
            <li><a href="#">Team</a>
            </li>
            <li><a href="#">Clients</a>
            </li>
            <li><a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col s12 m6 l3">
          <h3>Find us on</h3>
          <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>  
  </div>      
  <!-- Go to Top Link -->
  <a href="#home" class="btn btn-primary back-to-top">
  <i class=" mdi-hardware-keyboard-arrow-up"></i>
  </a>
</section> 

<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p class="copyright-text">
         © Pluto 2015 All right reserved. Designed and Developed by 
          <a href="http://graygrids.com/">
            GrayGrids
          </a>
        </p>
      </div>
    </div>
  </div>

<!-- ScrollUp button start -->
<div class="scrollup">
	<a href="#">
		<i class="icon-up-open"></i>
	</a>
</div>
<!-- ScrollUp button end -->
</section>

