<section id="social-contacts">
  <div class="container">
    <h1 class="title" translate>{{'Get in Touch'|translate}}</h1>
    <div class="row">
      <div class="col s12 social">
        <ul>
          <li>
            <a href="http://twitter.com/luxoreapp" class="btn-floating btn-large waves-effect waves-light purple-luxore" target="_blank">
              <i class="zmdi zmdi-twitter"></i> 
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/luxoreapp/" class="btn-floating btn-large waves-effect waves-light purple-luxore" target="_blank">
              <i class="zmdi zmdi-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://www.instagram.com/luxoreapp/" class="btn-floating btn-large waves-effect waves-light purple-luxore" target="_blank">
              <i class="zmdi zmdi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>  
</section>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3 s12 center-align">
        <a class="brand-logo" href="http://www.luxore.me/" title="Luxore">
        	<img src="img/logo-purple.png" title="Luxore">
        </a>
        <p class="grey-text text-lighten-4 lux-text" translate>LUXORE</p>
      </div>
      <div class="col l3 s12 foundation">
        <h5 class="white-text" translate>Foundation</h5>
        <ul>
          <li><a href="#!" translate>About Us</a></li>
          <li><a href="#!" translate>Features</a></li>
          <li><a href="#!" translate>Ethical Guidelines</a></li>
          <li><a href="#!" translate>Terms Of Use</a></li>
        </ul>
      </div>
      <div class="col l3 s12 resources">
        <h5 class="white-text" translate>Resources</h5>
        <ul>
          <li><a href="#!" translate>Blog</a></li>
          <li><a href="#!" translate>FAQ</a></li>
          <li><a href="#!" translate>Media Kit</a></li>
          <li><a href="#!" translate>Roadmap</a></li>
          <li><a href="#!">Whitepaper</a></li>
        </ul>
      </div>
      <div class="col l3 s12 get-involved">
        <h5 class="white-text" translate>Get Involved</h5>
        <ul>
          <li><a href="#!" translate>Contact Us</a></li>
          <li><a href="#!" translate>Support</a></li>
          <li><a href="#!">Facebook</a></li>
          <li><a href="#!">Twitter</a></li>
          <li><a href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>