<div class="navbar-fixed"  ng-controller="HeaderController">
  <nav id="transparent-navbar" class="purple-luxore" role="navigation">
    <div class="nav-wrapper">
      <a ng-click="home()" class="brand-logo center">
        Luxore
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="" href="#home">Home</a></li>
        <li><a class="" href="#features">Features</a></li>
        <li><a class="" href="#why">why</a></li>
        <li><a class="" href="#screenshot">Screenshots</a></li>
        <li><a class="" href="#testimonial">Testimonial</a></li>
        <li><a class="" href="#clients">Contact</a></li>
        <!-- Dropdown Trigger -->
        <li>
            <select class="icons" ng-model="selectedLang" ng-change="changeLang(selectedLang)">
              <option ng-repeat="option in languages" value="{{option.id}}" ng-selected="option.id==selectedLang" 
                      class="left circle" data-icon="img/flags/{{option.country}}.png">
                {{option.name}}
              </option>
            </select>

        </li>

        <li>
          <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown"><img src="img/flags/us.png" alt="USA"></a>
            <ul style="white-space: nowrap; position: absolute; top: 64px; left: 1664.2px; opacity: 1; display: none;" id="translation-dropdown" class="dropdown-content">
              <li>
                <a href="#!"><img src="img/flags/us.png" alt="English">  <span class="language-select">English</span></a>
              </li>
              <li>
                <a href="#!"><img src="img/flags/br.png" alt="Portuguese">  <span class="language-select">Portuguese</span></a>
              </li>
              <li>
                <a href="#!"><img src="img/flags/fr.png" alt="French">  <span class="language-select">French</span></a>
              </li>
              <li>
                <a href="#!"><img src="img/flags/ch.png" alt="Chinese">  <span class="language-select">Chinese</span></a>
              </li>
              <li>
                <a href="#!"><img src="img/flags/de.png" alt="German">  <span class="language-select">German</span></a>
              </li>
              
            </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

<header class="hero-area" id="home">
  <div class="intro-header">
    <div class="introBoxes">
    <div class="box left-end">
      <div class="inner">
        <div class="content" style="background: url(https://i.imgur.com/oN2wZ.jpg)"></div>
        </div>
    </div>  

    <div class="box">
      <div class="inner">
        <div class="content" style="background: url(http://i.imgur.com/wzHBJhv.jpg) center 50%"></div>
        </div>
    </div>

    <div class="box">
      <div class="inner">
        <div class="content" style="background: url(https://i.imgur.com/tQ1k5.jpg) 17% 40%"></div>
        </div>
    </div>

    <div class="box">
      <div class="inner">
        <div class="content" style="background: url(http://i.imgur.com/n7XoSje.jpg) center 10%"></div>
        </div>
    </div>
    
    <div class="box right-end">
      <div class="inner">
        <div class="content" style="background: url(https://i.imgur.com/RCJUO.jpg) 0% -20%"></div>
        </div>
    </div>
    </div>
  </div>
  
  <!-- <div class="contents text-right">
    <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Luxore - The next generation social network</h1>
    <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Decentralized, incentivized - power in your hands!</p>
  </div> -->
</header>
