<div class="navbar-fixed"  ng-controller="HeaderController">
  <nav id="transparent-navbar" class="purple-luxore" role="navigation">
    <div class="nav-wrapper">
      <a ng-click="home()" class="brand-logo center">
        Luxore
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="" href="#home">Home</a></li>
        <li><a class="" href="#features">Features</a></li>
        <li><a class="" href="#why">why</a></li>
        <li><a class="" href="#screenshot">Screenshots</a></li>
        <li><a class="" href="#testimonial">Testimonial</a></li>
        <li><a class="" href="#clients">Contact</a></li>
        <!-- Dropdown Trigger -->
        <li>
            <select class="icons" ng-model="selectedLang" ng-change="changeLang(selectedLang)">
              <option ng-repeat="option in languages" value="{{option.id}}" ng-selected="option.id==selectedLang" 
                      class="left circle" data-icon="img/flags/{{option.country}}.png">
                {{option.name}}
              </option>
            </select>

        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="fixed-action-btn click-to-toggle" style="top: 40px; right: 23px;">
  <a class="btn-floating btn-large waves-effect waves-light blue-grey">
    <i class="material-icons">mode_edit</i>
  </a>
  
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
  
  <span class="language-nav-bg"></span>
</div>

<header class="hero-area" id="home">
  <div class="intro-header">
    <div class="introBoxes">
    <div class="box left-end">
      <div class="inner">
        <div class="content" style="background: url(https://i.imgur.com/oN2wZ.jpg)"></div>
        </div>
    </div>  

    <div class="box">
      <div class="inner">
        <div class="content" style="background: url(http://i.imgur.com/wzHBJhv.jpg) center 50%"></div>
        </div>
    </div>

    <div class="box">
      <div class="inner">
        <div class="content" style="background: url(https://i.imgur.com/tQ1k5.jpg) 17% 40%"></div>
        </div>
    </div>

    <div class="box">
      <div class="inner">
        <div class="content" style="background: url(http://i.imgur.com/n7XoSje.jpg) center 10%"></div>
        </div>
    </div>
    
    <div class="box right-end">
      <div class="inner">
        <div class="content" style="background: url(https://i.imgur.com/RCJUO.jpg) 0% -20%"></div>
        </div>
    </div>
    </div>
  </div>
  
  <!-- <div class="contents text-right">
    <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">Luxore - The next generation social network</h1>
    <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Decentralized, incentivized - power in your hands!</p>
  </div> -->
</header>
