<div id="mainHeader" class="scrollspy lux-header" ng-controller="HeaderController">
  <div class="nav-wrapper">
    <ul class="brand">
      <li class="brand-logo"><img src="img/logo-purple.png"></li>
      <li class="brand-title">LUXORE</li>
    </ul>
    <nav>
      <ul class="right hide-on-med-and-down">
        <li><a href="#features">{{'Features'|translate}}</a></li>
        <li><a href="#coin">{{'The Coin'|translate}}</a></li>
        <li><a href="#roadmap">{{'Roadmap'|translate}}</a></li>
        <li><a href="/blog">{{'Blog'|translate}}</a></li>
        <li><a href="#documentation">Docs</a></li>
        <li><a href="https://www.kickstarter.com/" target="blank">Kickstarter</a></li>
        
        <li>
          <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
            <img ng-src="img/flags/{{lang.country}}.png" alt="{{lang.name}}">
          </a>
          <ul id="translation-dropdown" class="dropdown-content" style="position: fixed;">
            <li ng-repeat="option in languages">
              <a ng-click="selectLanguage(option.id)">
                <img ng-src="img/flags/{{option.country}}.png" title="{{option.name}}" alt="{{option.name}}">
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div ui-view="fabContent"></div>
  <div ui-view="menuContent" ng-class="{expanded: isExpanded}" ></div>
</div>

<div id="contentUI" ui-view="mainContent"></div>