<div id="mainHeader" class="scrollspy lux-header" ng-controller="HeaderController">
  <div class="nav-wrapper">
    <a ui-sref=".home">
    <ul class="brand">
      <li class="brand-logo"><img src="img/logo-purple.png"></li>
      <li class="brand-title">LUXORE</li>
    </ul>
    </a>
    <nav>
      <a href="#" data-activates="slide-out" class="button-collapse right">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="linx" ui-sref="app.features">{{'Features'|translate}}</a></li>
        <li><a class="linx" href="http://www.luxore.me/blog">{{'Blog'|translate}}</a></li>
        <li><a class="linx" ui-sref="app.faq">{{'FAQ'|translate}}</a></li>
        <li><a class="linx" ui-sref="docs.index">{{'Docs'|translate}}</a></li>
        <li><a class="linx" href="https://www.kickstarter.com/" target="blank">Kickstarter</a></li>
        
        <li>
          <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
            <img ng-src="img/flags/{{lang.country}}.png" alt="{{lang.name}}">
          </a>
          <ul id="translation-dropdown" class="dropdown-content" style="position: fixed;">
            <li ng-repeat="option in languages">
              <a ng-click="selectLanguage(option.id)">
                <img ng-src="img/flags/{{option.country}}.png" title="{{option.name}}" alt="{{option.name}}">
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div ui-view="fabContent"></div>
  <div ui-view="menuContent" ng-class="{expanded: isExpanded}" ></div>
</div>

<ul id="slide-out" class="side-nav">
  <li>
    <a href="#features" class="linx waves-effect">
      <i class="material-icons">image</i>
      <span>{{'Features'|translate}}</span>
    </a>
  </li>
  <li>
    <a href="#the-app" class="linx waves-effect">
      <i class="material-icons">apps</i>
      <span>{{'The App'|translate}}</span>
    </a>
  </li>
  <li>
    <a href="/blog" class="linx waves-effect">
      <i class="material-icons">description</i>
      <span>{{'Blog'|translate}}</span>
    </a>
  </li>
  <li>
    <a href="https://www.kickstarter.com/" target="blank" class="linx waves-effect">
      <i class="material-icons">people</i>
      <span>Kickstarter</span>
    </a>
  </li>
  <li>
    <a href="#" class="linx waves-effect">
      <i class="material-icons">find_in_page</i>
      <span>{{'FAQ'|translate}}</span>
    </a>
  </li>
  <li>
    <a href="#0" class="linx waves-effect">
      <i class="material-icons">monetization_on</i>
      <span>{{'Lux Coin'|translate}}</span>
    </a>
  </li>
  <li>
    <a href="#" class="linx waves-effect">
      <i class="material-icons">receipt</i>
      <span>{{'Media Kit'|translate}}</span>
    </a>
  </li>
  <li>
    <a href="#" class="linx waves-effect">
      <i class="material-icons">receipt</i>
      <span>{{'Docs'|translate}}</span>
    </a>
  </li>
  <li>
    <a href="#" class="linx waves-effect">
      <i class="material-icons">receipt</i>
      <span>{{'Language'|translate}}</span>
    </a>
  </li>
</ul>

<div id="contentUI" ui-view="mainContent"></div>

<!-- ScrollUp button start -->
<div id="scrollup" class="scrollup">
  <a class="btn-luxore btn-large" href="#mainHeader">
    <i class="large material-icons" style="font-size: 2.6rem;">expand_less</i>
  </a>
</div>
<!-- ScrollUp button end -->

<script type="text/javascript">
  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: true, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );

  $('a.translation-button').dropdown({
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'right'
    }
  );
</script>