<div class="parallax-container" style="height: 1200px;">
  <div class="parallax"><img src="img/3styles.jpg"></div>
  
  <div class="row" style="margin-bottom: 0px;">
    <div style="background-color: #ecf0f1; height:400px;" class="col s8 valign-wrapper">
      <div class="feature-item valign">
        <h3 class="lux-text">
          Look and Feel
        </h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's 
          standard dummy text, when an unknown printer took a galley of type and scrambled it to 
          make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard 
          dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to 
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
        
      </div>
    </div>
    <div class="col s4">&nbsp;</div>
  </div>

  <div class="row" style="margin-bottom: 0px;">
    <div style="background-color: white; height:400px;" class="col s4 valign-wrapper">
      <div class="feature-item valign">
        <h3 class="lux-text">
          Improve your style
        </h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's 
          standard dummy text, when an unknown printer took a galley of type and scrambled it to 
          make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard 
          dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to 
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
      </div>
    </div>
    <div class="col s4">
      &nbsp;
    </div>
    <div style="background-color: white; height:400px;" class="col s4 valign-wrapper">
      <div class="feature-item valign">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 0px;">
    <div class="col s4">&nbsp;</div>
    <div style="background-color: #ecf0f1; height:400px;" class="col s8 valign-wrapper">
      <div class="feature-item valign">
        <h3 class="lux-text">
          Fashion in your way!
        </h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's 
          standard dummy text, when an unknown printer took a galley of type and scrambled it to 
          make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard 
          dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to 
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </p>
      </div>
    </div>
  </div>

</div>
