<section id="testimonial" class="section">
  <div class="container">
    <div class="section-header text-center wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
      <h1 class="section-title">What People Says</h1>
      <h2 class="section-subtitle">Luxore (twitter?) </h2>
    </div>
    <div class="row">
      <div class="col s8 offset-s2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
        
        <div id="testimonial-carousel" class="slider" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial-carousel" data-slide-to="1"></li>
            <li data-target="#testimonial-carousel" data-slide-to="2"></li>
          </ol>
          
          <ul class="slides">
            <li>
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                <div class="meta">
                  <p>Web excutive <span><a href="http://wingthemes.com/">WingThemes</a></span></p>
                </div>
              </div>
            </li>
            <li>
              <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                <div class="meta">
                  <p>Web excutive <span><a href="http://graygrids.com/">GrayGrids</a></span></p>
                </div>
              </div>
            </li>
            <li>
             <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                <div class="meta">
                  <p>Web excutive <span><a href="http://landingbow.com/">LandinBow</a></span></p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
