<section id="why" class="section-grey">
  <div class="roundbox"></div>
  <div class="container">
    <div class="row">
      <div class="cd-product cd-container">
        <div class="cd-product-wrapper">
          <img src="img/features/img1.png" alt="Preview image">
          <ul>
            <li class="cd-single-point">
              <a class="cd-img-replace" href="#0">More</a>
              <div class="cd-more-info cd-top">
                <h2>Title</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
                </p>
                <a href="#0" class="cd-close-info cd-img-replace">Close</a>
              </div>
            </li> <!-- .cd-single-point -->

            <li class="cd-single-point">
              <a class="cd-img-replace" href="#0">More</a>
              <div class="cd-more-info cd-top">
                <h2>Title</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
                </p>
                <a href="#0" class="cd-close-info cd-img-replace">Close</a>
              </div>
            </li> <!-- .cd-single-point -->

            <li class="cd-single-point">
              <a class="cd-img-replace" href="#0">More</a>
              <div class="cd-more-info cd-right">
                <h2>Title</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
                </p>
                <a href="#0" class="cd-close-info cd-img-replace">Close</a>
              </div>
            </li> <!-- .cd-single-point -->

            <li class="cd-single-point">
              <a class="cd-img-replace" href="#0">More</a>
              <div class="cd-more-info cd-left">
                <h2>Title</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
                </p>
                <a href="#0" class="cd-close-info cd-img-replace">Close</a>
              </div>
            </li> <!-- .cd-single-point -->
          </ul>
        </div> <!-- .cd-product-wrapper -->
      </div> <!-- .cd-product -->
    </div>
  </div>
</section>