<section id="main-features" class="section main-feature-gray">
  <div class="container">
    <div class="row">   
      <div class="col s12 m8 l8">
        <div class="feature-item">
          <h3 class="title-small">
            Look and Feel
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's 
            standard dummy text, when an unknown printer took a galley of type and scrambled it to 
            make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard 
            dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to 
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          </p>
        </div>
      </div>
      
      <div class="col s12 m4 l4 center">
        <img src="img/features/fet1.png" class="img-responsive" alt="">
      </div>  

    </div>

  </div>
</section>

<section id="main-features" class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l4 center">
        <img src="img/features/fet2.png" class="img-responsive" alt="">
      </div>
      <div class="col s12 m8 l8 push-l1">
        <div class="feature-item">
          <h3 class="title-small">
            Improve your style
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's 
            standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to 
            make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard 
            dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to 
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

 <section id="main-features" class="section main-feature-gray">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l8">
        <div class="feature-item">
          <h3 class="title-small">
            Fashion in your way!
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's 
            standard dummy text, when an unknown printer took a galley of type and scrambled it to 
            make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard 
            dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to 
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          </p>
        </div>
      </div>
      
      <div class="col s12 m4 l4 center">
        <img src="img/features/fet3.png" class="img-responsive" alt="">
      </div>  

    </div>

  </div>
</section>
