<div id="features" class="features">

  <div class="features-title">Features</div>
  <div class="features-container">
    <div class="row">
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">dashboard</i></div>
        <div class="feature-title">Visual Editing in Browser</div>
        <div class="feature-description">Create a website without thinking about content editing. Have content editing layer for free without spending a minute.</div>
      </div>
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">airplay</i></div>
        <div class="feature-title">Code Editing in Browser</div>
        <div class="feature-description">Need to do some bigger design changes? Edit all your CSS, HTML and JavaScript files in your browser. Have hot reload.</div>
      </div>
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">code</i></div>
        <div class="feature-title">Upload your code</div>
        <div class="feature-description">Got a website already? We'll provide the visual editing layer then. Our algorithm supports HTML and Markdown.</div>
      </div>
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">spellcheck</i></div>
        <div class="feature-title">Custom domain support</div>
        <div class="feature-description">We believe people have the rights to connect their custom domain (whatever.com) without any extra cost.</div>
      </div>
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">dns</i></div>
        <div class="feature-title">Hosting</div>
        <div class="feature-description">You worry about incredible website, we worry about hosting it at blazing speeds. Leave it to us.</div>
      </div>
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">web</i></div>
        <div class="feature-title">Use your own text editor</div>
        <div class="feature-description">You can use Sublime Text or VIM - as long as you push your changes to GitHub, we'll publish it.</div>
      </div>
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">loop</i></div>
        <div class="feature-title">Integration with GitHub</div>
        <div class="feature-description">We sync all your changes to GitHub and publish all your GitHub changes to your website. Continuous deployment.</div>
      </div>
      <div class="col l3">
        <div class="feature-icon"><i class="material-icons">subtitles</i></div>
        <div class="feature-title">Command line tools</div>
        <div class="feature-description">Publish, check logs, clone websites - it's like Heroku toolbelt for your simple websites.</div>
      </div>
    </div>
  </div>
</div>